{@
	if(!$oi->site_new_com_num) $oi->site_new_com_num = 20;	
	if(!$oi->site_notice_num) $oi->site_notice_num = 3;	
}
<!-- 조회수 많은 글 -->
<img class="zbxe_widget_output" widget="contentextended_oday" skin="OrangeDay_ce_multi" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="fill" view_secret_document="not_show" content_type="document" subject_cut_size="" content_cut_size="300" order_target="readed_count" use_limit="readed_count_upper" limit_number="50" order_type="asc" view_mode="1" show_thumbnail="Y" thumbnail_width="40" thumbnail_height="60" show_browser_title="N" show_category="N" show_title="Y" show_contents="Y" show_all_meta="Y" show_nickname="N" show_regdate="N" show_comment_count="N" show_vote_count="N" show_read_count="Y" 
show_main_title="TOP VIEW"
show_main_title_icon="bx bxs-show"
module_srls="{$oi->site_new_con}" 
list_count="{$oi->site_notice_num}" /> 

<!-- 추처수 많은 글 -->
<img class="zbxe_widget_output" widget="contentextended_oday" skin="OrangeDay_ce_multi" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="fill" view_secret_document="not_show" content_type="document" subject_cut_size="" content_cut_size="300" order_target="voted_count" use_limit="voted_count_upper" limit_number="1" order_type="asc" view_mode="1" show_thumbnail="Y" thumbnail_width="40" thumbnail_height="60" show_browser_title="N" show_category="N" show_title="Y" show_contents="Y" show_all_meta="Y" show_nickname="N" show_regdate="N" show_comment_count="N" show_vote_count="Y" show_read_count="N" 
show_main_title="TOP SUGGEST" 
show_main_title_icon="bx bxs-heart"
module_srls="{$oi->site_new_con}" 
list_count="{$oi->site_notice_num}" /> 

<!-- 랜덤  -->	
<img class="zbxe_widget_output" widget="contentextended_oday" skin="OrangeDay_ce_multi" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="fill" view_secret_document="not_show" content_type="document" subject_cut_size="" content_cut_size="300" order_target="rand()" use_limit="" limit_number="1" order_type="desc" view_mode="1" show_thumbnail="Y" thumbnail_width="40" thumbnail_height="60" show_browser_title="N" show_category="N" show_title="Y" show_contents="Y" show_all_meta="Y" show_nickname="N" show_regdate="Y" show_comment_count="N" show_vote_count="N" show_read_count="N" 
show_main_title="RANDOM" 
show_main_title_icon="bx bxs-dice-5"
module_srls="{$oi->site_new_con}" 
list_count="{$oi->site_notice_num}" /> 
