{@
	if(!$oi->site_notice_num) $oi->site_notice_num = 3;
	
	if(!$oi->site_new_com_num) $oi->site_new_com_num = 20;
	if(!$oi->site_new_com_srl_use) $oi->site_new_com_srl_use  ='no';
	if($oi->site_new_com_srl_use == 'yes') :
		$site_new_com_srl_use = $oi->site_new_com_srl_use;
	else :
		$site_new_com_srl_use = $oi->site_new_con;
	endif;	
}
<!-- 공지 글 -->	
<img class="zbxe_widget_output" widget="contentextended_oday" skin="OrangeDay_contentextended" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="crop" view_secret_document="not_show" content_type="document" subject_cut_size="" content_cut_size="300" order_target="update_order" use_limit="" limit_number="" order_type="desc" view_mode="1" show_thumbnail="N" thumbnail_width="30" thumbnail_height="30" show_browser_title="N" show_category="N" show_title="Y" show_contents="N" show_all_meta="N" show_nickname="N" show_regdate="Y" show_comment_count="N" show_vote_count="N" show_read_count="N" 
show_main_title_icon="bx bxs-microphone" 
show_main_title="NOTICE" 
go_url="{$oi->site_notice_link}" 
module_srls="{$oi->site_notice}" 
list_count="{$oi->site_notice_num}" /> 

<!-- 새 댓글 -->	
<img class="zbxe_widget_output" widget="contentextended_oday" skin="OrangeDay_contentextended" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="crop" view_secret_document="not_show" content_type="comment" subject_cut_size="" content_cut_size="300" order_target="update_order" use_limit="" limit_number="" order_type="desc" view_mode="1" show_thumbnail="N" thumbnail_width="30" thumbnail_height="30" show_browser_title="N" show_category="N" show_title="Y" show_contents="N" show_all_meta="Y" show_nickname="N" show_regdate="Y" show_comment_count="N" show_vote_count="N" show_read_count="N" 
show_main_title_icon="bx bxs-message-rounded-dots" 
show_main_title="COMMENT" 
module_srls="{$site_new_com_srl_use}" 
list_count="{$oi->site_new_com_num}" />

<!--@if($oi->use_visitor == 'yes')-->
	<!-- 방문자 카운터 -->	
	<img class="zbxe_widget_output" widget="counter_status" skin="OrangeDay_counter_status_classic" /> 
<!--@end-->

<!--@if($oi->cafe24Traffic)-->
	<!-- 카페24 트래픽 -->	
	<include target="traffic.html" />
<!--@end-->