@charset "utf-8";
/* Widget Counter */
.widgetCounter{  font-size:2em;  font-family:"Montserrat Alternates"; font-weight:900; display:flex; justify-content: center; color:var(--oday_mainColorOpt)}
.widgetCounter li:nth-child(2) { font-weight:700; opacity:.6}
.widgetCounter li:nth-child(3) { font-weight:300; opacity:.4}
.widgetCounter li + li { margin-left:10px}
@media screen and (max-width:768px){
	.widgetCounter{  font-size:1.5em;}
}