@charset "utf-8";
body { overflow-y:scroll; }
.od-bord.sidegap { margin-left:10px; margin-right:10px;}
@media screen and (max-width: 768px){
	.od-bord.sidegap { margin-left:0; margin-right:0;}
}
/*//////////

		버튼 박스

//////////*/
.formBox { display: flex; justify-content: space-between; margin-top: 10px; }
.formBox li { display: flex; align-items: center; }
.formBox div { display: flex; align-items: center; }
.formBox div * + * { margin-left: 5px; }
.formBox div + * { margin-left: 15px; }
.formBox ul.namepass { display: flex; justify-content: center; }
.formBox ul.namepass li + li { margin-left: 15px; }
.formBox ul.namepass li * + * { margin-left: 5px; }
.formBox ul.namepass label { white-space: nowrap}
.formBoxCenter { display: flex; align-items: center; justify-content: center; }
.formBoxCenter * + * { margin-left: 5px; }
.formBoxCenter + .formBoxCenter,
.formBox + .formBoxCenter { margin-top: 1em; }
/*//////////

		나이스 셀렉트 박스

//////////*/
.nice-select { padding-left: 10px !important; }
.nice-select .option { height: var(--oday_iptHeight); font-weight: var(--oday_fw-normal); color: var(--oday_fontColor); font-size: 12px;}
.nice-select .list { font-size: 12px; font-weight:var(--oday_fw-normal);  background-color: var(--oday_listBgColorStress1); border: var(--oday_listBorderStress); box-shadow: var(--oday_listShadow); max-height:300px; overflow-y: auto; }
.nice-select .list::-webkit-scrollbar { width:8px}
.nice-select:hover, .nice-select.open, .nice-select:focus { border: var(--oday_iptBorderHover); }
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus { background-color: var(--oday_bodyBgColor); }
.nice-select .option.selected {color:var(--oday_mainColor) !important}
@media screen and (max-width: 768px){
	.formBox.split { /*flex-wrap: wrap; justify-content: center;*/ flex-direction: column;}
	.formBox.split > li { flex-wrap: wrap; }
	.formBox.split > li div + *,
	.formBox.split > li div { margin-left: 10px; margin-right: 10px; margin-bottom: 10px; }
	.formBox.split > li + li { margin-top: 1em; }
	.formBox > li { justify-content: center; }
	.formBox ul.namepass { margin-bottom: 5px; }
	.formBox ul.namepass input { max-width: 30vw; min-width: 0; }
}
/*//////////

		Layout Change Preview

//////////*/
.preview_btn { 
	position: fixed; right: 0; top: 0; z-index: 4; 
}
.preview_btn .view_opt { height: 30px; width:40px; display: flex; align-items: center;justify-content: flex-end; color:var(--oday_mainColor)}
/*
.preview_btn ul { transition: 0.3s ease; transform: translateX(30px);}
.preview_btn:hover ul { transform:translateX(0px) ;	visibility: visible;}
*/
.preview_btn ul.cate1 { display: flex; justify-content: center; flex-direction: column; align-items: stretch; text-align:center;
	background-color: var(--oday_btnBgColor); box-shadow: var(--oday_listShadowR); border: var(--oday_listBorder); padding:5px 0;  border-radius: 6px 0 0 6px; overflow:hidden; width: fit-content; height: fit-content;
}
.preview_btn ul + ul { margin-top:2px}
.preview_btn ul li a { 
	background-color: var(--oday_btnBgColor); 
	display: flex; align-items: center; justify-content: center; 
	height: 30px; width:40px; font-size:10px;
}
.preview_btn ul li > a span {font-size: 16px}	
.preview_btn ul li.on > a span { font-size: 20px }
.preview_btn ul li.on > a { color: var(--oday_mainColor); }
.preview_btn ul li.on.gall { display: flex; flex-direction: column; align-items: center;}
.preview_btn ul li.on.gall ul { border: var(--oday_listBorder); width: fit-content; border-radius:50px; overflow:hidden; box-shadow: var(--oday_listShadow);}
.preview_btn ul li.on.gall ul a {height: 20px; width:20px;}
.preview_btn i {font-size: 16px}

.board-message { text-align: center; position: relative; z-index: 5;  margin: 0 auto; width: 100%; max-width: var(--oday_maxWidth); }
.board-message.header_text { margin-top:1em; margin-bottom:2em}
/*//////////

		카테고리 / 서치 상단고정  

//////////*/
.stickyTopBox { 
	position: sticky; top: -1px; z-index: 3; margin: 0 auto; margin-bottom: 1em; padding: 10px 0; 
	width: 100%; max-width: var(--oday_maxWidth); background-color: var(--oday_bodyBgColor); box-shadow: 0 0 10px 10px var(--oday_bodyBgColor); 
	}
.stickyTopBox.wide { max-width: 100%; }
.stickyTopBox.wide > * { padding: 5px 20px 0 20px; }
@media screen and (max-width: 768px){
  .stickyTopBox,
  .stickyTopBox.wide { padding:10px 0 0 0; position:relative; }
  .stickyTopBox.wide > * { padding: 0 2px; }
}
/*//////////

		카테고리

//////////*/
:root{
--ctRadius:6px;
}
.cTab { 
	display: flex; flex-wrap: wrap; justify-content: center; 
	line-height: 1; font-size:.8em; 
	}
.cTab a { 
	margin-bottom:.5em; z-index:2; white-space: nowrap; padding: 0 1em;
	display: flex; align-items: center;
	height: calc(var(--oday_iptHeight) * .9); border: var(--oday_listBorder); border-radius: var(--ctRadius); box-shadow: var(--oday_listShadow); background-color: var(--oday_listBgColorStress1); 
	}
.cTab a.ctDep3 { font-size:.9em; background-color: var(--oday_listBgColor); border-radius: 0; margin-left: -1px !important; float:left; z-index: 1;/* color: color-mix( in srgb, var(--oday_fontLinkColor), #fff 50%);*/}
.cTab a em { font-weight: var(--oday_fw-sBold); margin-left: .5em; color: var(--oday_mainColorLight); }
.cTab a.on { color: var(--oday_mainColor); font-weight: var(--oday_fw-sBold); border-color: var(--oday_mainColor);z-index: 3 }
.cTab a.wcdr {border-radius: var(--ctRadius) 0 0 var(--ctRadius); }
.cTab .warpctDep3 + a,
.cTab a + a {margin-left:.5em; }

.cTab a + a.ctDep3 {margin-left: 0}
.cTab .warpctDep3 { display:contents}
.cTab .warpctDep3 a.ctDep3:last-child { border-radius: 0 var(--ctRadius) var(--ctRadius) 0; }
@media screen and (max-width: 768px){
}
.cTab + .searchBox { margin-top:5px;}
/*//////////

		검색

//////////*/
.searchBox { display: flex; justify-content: space-between; align-items: center; font-size:.8em; padding: 0 0 0 1em; }
.searchBox div.sort { display: flex; justify-content: space-between; align-items: center; white-space: nowrap; }
.searchBox div.sort a { display: flex; align-items: center; justify-content: center; height: var(--oday_iptHeight); line-height: 1; }
.searchBox div.sort a + a { margin-left: 10px; }
.searchBox div.sort a.on { color: var(--oday_mainColor); }
.searchBox div.sort a em { display:inline-block; letter-spacing: 0px; margin-left:2px; color:#999}
.searchBox div.sort a span { font-size: 1.2em; }
.searchBox div.sort a.viewOne span { font-size: 1.8em; }
.searchBox div.sort a.viewTwo span { font-size: 1.8em; transform: rotate( 90deg ); }
.searchBox div.sort a.viewOne.acitvegall,
.searchBox div.sort a.viewTwo.acitvegall { color: var(--oday_mainColor); }
.searchBox .nice-select { font-size: 1.1em; }
.searchBox form { display: flex; align-items: center; }
.searchBox form * { background-color: transparent; }
.searchBox form button,
.searchBox form .nice-select { border:none; }
.searchBox form button,
.searchBox form a { display: flex; align-items: center; justify-content: center; width: var(--oday_iptHeight); height: var(--oday_iptHeight);  padding:0 10px; background-color: transparent !important; }
.searchBox form span.material-symbols-sharp { font-size: 1.4em; }
.searchBox form a span.material-symbols-sharp { font-size: 1.8em; }
.searchBox form span.material-symbols-sharp:hover { color: var(--oday_mainColor); }
@media screen and (max-width: 768px){
	.searchBox{ flex-direction: column; }
	.searchBox div.sort { padding: 5px 0 }
	.searchBox form { justify-content: space-between; width: 100%; }
	.searchBox form input { width:200px}
}
/*//////////

		페이지 네비

//////////*/
.pagination {margin: 0 auto; max-width: var(--oday_maxWidth); display: flex; justify-content: center; padding:2em 0}
.pagination > * { display: flex; align-items: center; justify-content: center; width:calc(var(--oday_iptHeight) - 4px); height:calc(var(--oday_iptHeight) - 4px); border-radius: 100%; }
.pagination > * { margin: 0 5px; letter-spacing: -1px; }
.pagination > *:first-child { font-size: 1.8em; margin: 0 1em 0 0; border:none; }
.pagination > *:last-child { font-size: 1.8em; margin: 0 0 0 1em; border:none; }
.pagination strong { font-weight: 700; border:none; color: var(--oday_bodyBgColor); background-color: var(--oday_mainColor); }
.pagination a.pageBtn:hover { font-weight: 700; color: var(--oday_bodyBgColor); background-color: var(--oday_mainColor); }
/*//////////

		새글 아이콘

//////////*/
:root {
	--NiconWidth: 30px;
	--NiconNotiWidth:40px;
}
.newicon.S,
.newicon.F { display:none; height: 1px; }
.newicon.U.S,
.newicon.U.F { display: flex; height: 16px; }
.newicon.Fbox.U.S,
.newicon.Fbox.U.F { display: flex; height: 30px; }
.newicon { background-color:#f00; color:#fff; width: 16px; height: 16px; display: flex; align-items: center; justify-content: center; font-size:8px; font-weight:900; margin-left:4px; border-radius: 5px; }
.newicon.Fbox { position:absolute; font-family:"REM"; font-size: 14px; font-weight:900; top: 0; right: 0;margin-left: 0; width: var(--NiconWidth);height: var(--NiconWidth); border-radius: 0 0 0 5px;z-index: 2; }
.newicon.Fbox.left { right: unset; left: 0; margin-left: 0; border-radius: 0 0 5px 0; }
.newicon.Fbox.secret { background-color:#fb22bb; color:#fff; }
.newicon.Fbox.secret span { font-size: 1em; }
.newicon.U { background-color:#00d3ff; }
.newicon.Fbox + .newicon.Fbox.secret { top:28px; }
.newicon.Fbox.noti { right: unset; left: 0; border-radius: 0 0 5px 0; }
@media screen and (max-width: 768px){
	.newicon { position: absolute; top: 0px; left: 0px; border-radius: 0 0 5px 0; margin-left:0 }
	.newicon.Fbox { right:0; left: unset; }
	.newicon.Fbox.left { right:0; left: unset; border-radius: 0 0 0 5px;  }
}
/*//////////

		게시판 공통

//////////*/
.category { color: var(--oday_mainColorOpt); }
#list-bd-table .number,
.bd-all .number { font-size: .9em; color:var(--oday_fontDimColor)}
.read { color: var(--oday_mainColor); }
.count, .count a { color: var(--oday_mainColor);  white-space:nowrap}
.od_date { opacity:.5; font-size:.9em; }
.od_link { opacity:.5; font-size:.9em; }
.secret { color: var(--oday_secretColor); }
.author { color: var(--oday_colorAuthor); font-weight:normal}
.title { line-height: 1.2; }
.title h1 { font-size: 1.2em; }

#list-bd-table table.tbl_board .number i,
#list-webzinelist .box .number i,
#list-bd .box .number i { font-size: 1.8em; color:var(--oday_mainColorOpt)}
#list-bd.list-notice .box .number i { color:var(--oday_alertColor)}
#list-bd-table table.tbl_board .number i.bxs-lock,
#list-webzinelist .box .number i.bxs-lock,
#list-bd .box .number i.bxs-lock  { color: var(--oday_secretColor); }

.meta .profile { width: var(--oday_metaIconSize); height: var(--oday_metaIconSize); background-color: var(--oday_metaBgColor); color: var(--oday_metaColor); font-size: var(--oday_metaFontSize); border-radius: 100%; display: flex; align-items: center; justify-content: center; margin-right: 5px; }
.meta .profile.notice { background-color:var(--oday_alertColor); color:#fff}
.meta.size2 .profile {width: calc(var(--oday_metaIconSize) * 1.5); height:calc(var(--oday_metaIconSize) * 1.5); font-size: calc(var(--oday_metaFontSize) * 1.5); }
.bd-all,
.pagination,
.btnBox { margin: 0 auto; width: 100%; max-width: var(--oday_maxWidth);  }
.btnBox { position: sticky; bottom: -1px; padding: 0; z-index:3; margin: 0 auto; width: fit-content; display: flex; justify-content: center; }
.btnBox ul li { background-color: var(--oday_bodyBgColor); padding:20px; border-radius:20px 20px 0 0; display: flex; align-items: center; justify-content: center;  }
.ui-tooltip {
	box-shadow:var(--oday_listShadowStress) !important; background-color: var(--oday_bodyBgColor) !important; border:var(--oday_btnBorder) !important;
	padding: 10px !important; border-radius: 6px !important;
	font-size:12px !important; color:var(--oday_fontColor) !important;
	max-width:400px !important; word-break: break-all !important; font-weight:100 !important; font-family:sans-serif !important; margin-bottom:-50px !important;
}
@media screen and (max-width: 768px){
	.btnBox ul li { padding: 10px; }
	.ui-tooltip { display:none !important; opacity:0; visibility: hidden;}
}
/*//////////

		게시판 - 공지

//////////*/
.list-notice { border-top: var(--oday_listBorderStress); border-bottom: var(--oday_listBorderStress); background-color: var(--oday_listBgColor); }
.list-notice .number { color: var(--oday_mainColor); opacity: 1}
.list-notice + #list-bd { border-top: none; }
.roundCorner { border-radius: var(--oday_listBorderRadius); border: var(--oday_listBorderStress); }

.list-notice.roundCorner + #list-bd,
.list-notice.roundCorner + #list-webzinelist  {  border-top: var(--oday_listBorderStress); }
.list-notice.roundCorner + #list-bd-table,
.list-notice.roundCorner + .bd-all { margin-top: 5px !important; }
.list-notice .box {  width: 100%; }
/*//////////

		게시판 - 일반-테이블

//////////*/
#list-bd-table table.tbl_board { width:var(--oday_maxWidth); max-width:var(--oday_maxWidth); margin:0 auto; 
    border-top: var(--oday_listBorderStress);
    background-color: var(--oday_listBgColor);
}
#list-bd-table table tr:last-child > * { border-bottom: var(--oday_listBorderStress);}
#list-bd-table table.tbl_board th { font-weight:500; font-size:.8em; background-color:var(--oday_listBgColorDark)}
#list-bd-table table.tbl_board th:after {all:unset}
#list-bd-table table.tbl_board th,
#list-bd-table table.tbl_board td {display:table-cell; height: var(--oday_listHeight); min-height:unset; text-align:center; white-space: nowrap; padding:0 10px; width:5px }
#list-bd-table table.tbl_board td.title { width:100%; text-align:left; white-space: normal; padding: 10px; }
#list-bd-table table.tbl_board td.title .newicon { width:unset; height:unset; background-color:unset; font-size:.8em; display:inline-block; font-weight:900; color:#f00}
#list-bd-table table.tbl_board td.title .newicon.U,
#list-bd-table table.tbl_board td.title .newicon.U.F { display:inline-block; color:#00d3ff}
#list-bd-table table.tbl_board td.title .newicon.F,
#list-bd-table table.tbl_board td.title .newicon.S { display:none}
#list-bd-table table.tbl_board td.title span.count {white-space: nowrap;}
#list-bd-table table.tbl_board td.title * + * { margin-left:5px;}   
#list-bd-table table.tbl_board td.exvar {white-space: normal; padding: 10px;}
#list-bd-table table.tbl_board td.exvar span {
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


#list-bd-table table.tbl_board .date > * { display:block; opacity:.5; font-size:.85em; line-height:1.2}
#list-bd-table table.tbl_board .date > * > * { display:block;}
#list-bd-table table.tbl_board .date > * > i { display:inline-block; font-size:.8em;}
#list-bd-table table.tbl_board tr.readActive > * { background-color: var(--oday_listBgColorStress1);}
@media screen and (max-width: 768px){
	#list-bd-table table.tbl_board tr {display: table-row;}
	#list-bd-table table.tbl_board td.title {white-space: normal; display: table-cell;}
	#list-bd-table table.tbl_board td.title .newicon { position:relative }
	#list-bd-table table.tbl_board th { height: calc(var(--oday_listHeight) * .8); }
	#list-bd-table table.tbl_board tr td { position:relative}
	#list-bd-table table.tbl_board tr td { min-height: var(--oday_listHeight);  }
}
/*//////////

		게시판 - 일반

//////////*/
#list-bd {border-top: var(--oday_listBorderStress); border-bottom: var(--oday_listBorderStress); background-color: var(--oday_listBgColor); }
#list-bd .box { display: flex; justify-content: flex-start; align-items: center; min-height: var(--oday_listHeight); padding: 15px 20px; }
#list-bd .readActive { background-color: var(--oday_listBgColorStress1); }
#list-bd .box + .box { border-top: var(--oday_listBorder); }

#list-bd .box * {white-space: nowrap; line-height: 1; }
#list-bd .box .number {padding-right: 15px; }

#list-bd .box .list { display: flex; align-items: center; flex: 1; min-width: 0; }
#list-bd .box .list  > * + * { margin-left:10px}
#list-bd .box .list .category { font-size:.9em; }
#list-bd .box .list .title {overflow: hidden; text-overflow: ellipsis}
#list-bd .box .list .end { margin-left: auto; padding-left: 10px; display: flex; align-items: center; font-size:.9em; }
#list-bd .box .list .end > * + * { margin-left: 5px; }
/*
#list-bd .box .list .extra a { font-size:.8em;  border: var(--oday_listBorder); padding:5px; display: inline-block; border-radius:6px;}
#list-bd .box .list .extra a:hover { background-color:var(--oday_mainColorOpt)}
*/
#list-bd .box .list .extra { font-size:.85em; line-height:1; border: var(--oday_listBorder); padding:5px 5px 4px 5px; display: inline-block; border-radius:2px; margin-top:5px; color:var(--oday_fontColor); background-color: var(--oday_listBgColorDark);}
@media screen and (max-width: 768px){
	#list-bd .box { position: relative; }
	#list-bd .box .list { display: block; }
	#list-bd .box .list  > * + * { margin-left:0}
	#list-bd .box .list .category { margin-bottom: 5px; }
	#list-bd .box .list .end { margin-left: auto; padding-left: 0; }
	#list-bd .box { height: unset; padding: 15px; } 
	#list-bd .box .front { align-items: flex-start; flex-direction: column; }
	#list-bd .box .end { font-size:.85em; margin-top: 5px;; }
}
/*//////////

		게시판 - 웹진리스트 - 노말과 공유

//////////*/
#list-webzinelist {border-top: var(--oday_listBorderStress); border-bottom: var(--oday_listBorderStress); background-color: var(--oday_listBgColor); }
#list-webzinelist .box { position:relative; padding:20px; display: flex; justify-content: flex-start; align-items: center; }
#list-webzinelist .readActive { background-color: var(--oday_listBgColorStress1); }

#list-webzinelist .box + .box { border-top: var(--oday_listBorder); }
#list-webzinelist .wrapimg { position:relative; flex-shrink: 0; width: calc(var(--oday_listHeight) + 110px); height: calc(var(--oday_listHeight) + 60px); background-color: var(--oday_metaBgColor); border: var(--oday_listBorder); border-radius: 5px; background-position:center; background-size: 100% auto; transition:.3s; display: flex; justify-content: center; align-items: center; font-size: calc(var(--oday_listHeight) / 2); color: var(--oday_metaColor); margin: 0 30px 0 20px; transition: 0.3s ease }
#list-webzinelist .box ul li { display: flex; align-items: center; }
#list-webzinelist .box ul li .title { font-size: 1.2em; }
#list-webzinelist .box ul li .category { font-size:.8em; }
#list-webzinelist .box ul li .count { font-size:.8em; }
#list-webzinelist .box ul li .count i { font-size: 1.4em; }
#list-webzinelist .box ul li.t2 { font-size:.9em; }
#list-webzinelist .box ul li .summary { line-height: 1.4; opacity:.7; font-size:.9em; word-break: break-all;}
#list-webzinelist .box ul li > * + * { margin-left:.5em; }
#list-webzinelist .box ul li + li { margin-top:.5em; }
#list-webzinelist a:hover { color: unset;  background-color: var(--oday_listBgColorStress1); }
#list-webzinelist a:hover  .title {color:var(--oday_mainColor)}
#list-webzinelist a:hover .wrapimg {background-size: 120% auto; }
@media screen and (max-width: 768px){
	#list-webzinelist .wrapimg {width: var(--oday_listHeight); height: var(--oday_listHeight); margin: 0 10px 0 10px;}
	#list-webzinelist .box { padding:20px 10px}
	#list-webzinelist .box ul li {flex-wrap: wrap;}
	#list-webzinelist .box ul li .category { font-size: .8em; flex-shrink: 0; width: 100%;}
	#list-webzinelist .box ul li .title { margin-left: 0; margin-top:5px;}
	#list-webzinelist .box ul li .summary { 
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	}
/*
	#list-webzinelist .box { justify-content: flex-start; flex-wrap: wrap;}
	#list-webzinelist .box ul { margin-top:10px;}
*/
}
/*//////////

		게시판 - 웹진

//////////*/
#list-webzine .box { position:relative; float:left; overflow:hidden; display:block; border-radius: var(--oday_listBorderRadius); background-color: var(--oday_listBgColor); border: var(--oday_listBorder); transition:.3s; }
#list-webzine .readActive {border-color: var(--oday_mainColorDark); }
#list-webzine .box:hover {border: var(--oday_listBorderHover); }
#list-webzine .wrapimg {position:relative; width: 100%; height: 0;/* padding-bottom: 51.6%; */padding-bottom:60%; overflow: ; background-position:center; background-size: 100% auto; transition:.3s; }
#list-webzine a:hover .wrapimg { background-size: 120% auto; } 
#list-webzine .boxT { padding:15px 10px; }
#list-webzine .boxT > * + * { margin-top:10px;}
#list-webzine .boxT .title { font-size: 1.1em; font-weight:500}
#list-webzine .boxT .category { font-size:.8em;  }
#list-webzine .boxT .summary { opacity:.5; font-size:.9em; line-height: 1.4; color: var(--oday_fontColor); word-break: break-all; padding-bottom:8px}
#list-webzine .boxT .opt { display: flex; align-items: center; justify-content: space-between; color: var(--oday_fontColor); font-size:.9em; }
#list-webzine .boxT .opt > * { display: flex; align-items: center; }
#list-webzine .boxT .opt > * + * { margin-left: 1em; }
#list-webzine .boxT .opt .date { margin-left:auto; }
/*//////////

		게시판 - 방명록

//////////*/
.list_guest_write {margin-top: 5px; margin-bottom: 5px; border: var(--oday_listBorder); border-radius: var(--oday_listBorderRadius); background-color: var(--oday_listBgColor); box-shadow: var(--oday_listShadow); }
.list_guest_write {padding: var(--oday_sideGap); }
.list_guest_write textarea { height:200px; }
.list_guest_write .formBox { /*padding: 1em 0 */ }

#list_guest .box {position:relative; border: var(--oday_listBorder); border-radius: var(--oday_listBorderRadius); background-color: var(--oday_listBgColor); box-shadow: var(--oday_listShadow); overflow: hidden; }
#list_guest .box + .box { margin-top: 5px; }
#list_guest .grid {padding: var(--oday_sideGap); display: flex; }
#list_guest .grid .gCon { flex: 1; padding-left:.5em; }
#list_guest .meta { display: flex; flex-direction: column; }
#list_guest .gCon .conTop * + * { margin-left:5px;}
#list_guest .title { margin-bottom:.5em; font-size:1.2em; font-weight:500}
#list_guest .gCon .conTop .number, 
#list_guest .gCon .conTop .author { display: inline-block; margin-left:0;}
#list_guest .formBox { padding: 1em; }
#list_guest .grid .gCon .xe_content {padding: 1.5em 0 0 0}
#list_guest .grid .gCon .xe_content img { max-width: 300px; max-height: 300px; }
@media screen and (max-width: 768px){

}
/*//////////

		게시판 - 북마크

//////////*/
#list-book { margin: 0px auto; }
#list-book .box { transition:.3s; padding:20px; margin-bottom:4px; box-sizing: border-box; border-radius: var(--oday_listBorderRadius); background-color: var(--oday_listBgColor); border: var(--oday_listBorder); box-shadow: var(--oday_listShadow);float:left; }
#list-book .box:hover {box-shadow: var(--oday_listShadowHover); background-color: var(--oday_listBgColorStress1); }

#list-book .box a { display: flex; width: 100%; }
#list-book .box img, 
#list-book .box .noImg { border-radius: 10px; display: flex; align-items: center; justify-content:center; box-sizing: border-box; font-size:2em; background-color: var(--oday_metaBgColor); color: var(--oday_metaColor); border: var(--oday_listBorder); align-self: flex-start}
#list-book .box a .tBox { display: flex; flex-direction: column; margin: 0 0 0 20px; }
#list-book .box a .tBox span + span { margin-top: 5px; }
#list-book .box span.category { font-size:.8em ; }
#list-book .box span.title { font-size: 1em ; font-weight: 500; letter-spacing: 0; word-break: break-word; }
#list-book .box span.summ { font-size: 12px; line-height: 1.2;word-break: break-all; color:#666 }
#list-book .box span.url { font-size: 10px; word-break: break-all; color:#999 }

#list-book .box .btnedit { position:absolute; top: 10px; right: 10px; display: flex; align-items: center; }
#list-book .box .btnedit a { margin-right: 1em; }
#list-book a:hover, 
#list-book a:focus { color: unset; }
#list-book .fbItem * { display: flex; align-items: center; }
#list-book .fbItem p { font-size:.9em; }
.bookmark-plus { line-height: 1; margin-top: 10px; padding-top: 10px; border-top: var(--oday_listBorder); }
.bookmark-plus a { display:inline-block !important; width: unset !important; }
.bookmark-plus a span { 
	position:relative; display:inline-block !important;
	font-size: 1.4em; line-height: 1 !important; color:#000; 
	margin-left:.5em; 
	width: fit-content;  max-width: fit-content;padding: 0px 5px 0px 5px; background-color: var(--oday_mainColorOpt); border-radius: 3px; }
.bookmark-plus a span:hover { background-color: var(--oday_mainColor); color:#fff}
.bookmark-plus li + li {margin-top: 5px; }
.bookmark-plus img { display:none !important; }
@media screen and (max-width: 768px){
	#list-book { width:calc(100vw - 20px); padding: 0}
	#list-book .boxsize,
	#list-book .box { width: 100%}
}
/*//////////

		게시판 - 히스토리

//////////*/
.greetinginpage { margin: 0 auto; max-width:800px; text-align:center; padding:100px 0; }
.greetinginpage li.since { font-size: 1.5em; line-height: 1; font-weight: 300; }
.greetinginpage li.since span {  font-weight: 700; }
.greetinginpage li.title h1 { font-size:4em; letter-spacing: -1px; font-family:"Montserrat Alternates"; font-weight: 700; line-height: 1;margin: 0; padding: 0; display:inline-block; white-space:nowrap}
.greetinginpage li.sum { font-size: 1em; margin-top: 1em; opacity:8; line-height: 1.2; }
@media screen and (max-width: 1000px){
	.greetinginpage { padding: 20px 20px 50px 20px; }
	.greetinginpage li.since { font-size: 1em; }
	.greetinginpage li.since span { font-size: 1.5em; display:block; margin-top:5px;}
	.greetinginpage li.title h1 { font-size:3em; }
	.greetinginpage li.sum { font-size: 1em; line-height: 1}
}

#list_history { margin: 0 auto; max-width: fit-content; margin-bottom:2em; }
#list_history li { display: flex; flex-direction: column; }
#list_history li ul,
#list_history li + li { margin-top: 50px; }
#list_history .box { display: flex; flex-direction: row; }
#list_history .box > div { display: flex; flex-direction: column; }
#list_history .box > div > div { display: flex; }
#list_history .box > div > div + div { margin-top:20px; }
#list_history span.cate_title { font-size:2em; margin-right: 50px; font-weight: 700; letter-spacing: 0; width:80px; text-align:left; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; }
#list_history span.month { display:inline-block; font-size: 1.5em; margin-right: 10px; font-weight: 700; color:var(--oday_mainColor); width:100px; overflow:hidden; text-overflow: ellipsis; text-align:center; white-space:nowrap }
#list_history span.title { font-size: 1.2em; font-weight:600; display:block}
#list_history span.title div { font-size:.8em; font-weight:400; opacity:.8; margin-top: 5px; min-width:200px; max-width:500px; }
#list_history span.title a { display:inline-block; }
#list_history span.title img { width:100px}
#list_history .document_popup_menu { display:none; }
@media screen and (max-width: 768px){
	#list_history { padding: 0 20px; }
	#list_history li ul, #list_history li + li {margin-top: 20px; padding-top:20px; border-top: var(--oday_listBorder);}
	#list_history .box { flex-direction: column; }
	#list_history .box > div > div { flex-direction: column; align-items: center; }
	#list_history span.cate_title { font-size: 15px; font-weight: 700; text-align: center; margin-right: 0; margin-bottom:20px; width: 100%; }
	#list_history span.cate_title span { border: 1px solid #d5d5d550; padding: 5px 15px; border-radius:20px }
	#list_history span.month { font-size:2em; font-weight:400; margin-right: 0; margin-bottom: 10px; }
	#list_history span.title { font-size: 1.5em; text-align:center}
}

.insideTopBg { position:absolute; top: 0; left: 0; width: 100%; height: 60vh; margin: 0 0 50px 0; z-index: -1;  } 
.insideTopBg.history {opacity:.5}
@media screen and (max-width: 768px){

}
/*//////////

		게시판 - 인풋폼

//////////*/
#list_inputform {border: var(--oday_listBorderStress);background-color: var(--oday_listBgColor); border-radius: var(--oday_listBorderRadius); 
	padding:20px; margin-top: 5px !important; margin-bottom: 5px !important;
}
#list_inputform h3 { display:block;  font-size:1.2em; padding:30px 0 15px 5px;}
#list_inputform .formlist {  border-top: var(--oday_listBorderStress); }
#list_inputform .formlist > li:last-child {  border-bottom: var(--oday_listBorderStress); }
#list_inputform .formlist > li,
#list_inputform .formlist .ap_item {display:flex; align-items: center; width:100%;}
#list_inputform .formlist label,
#list_inputform .formlist h4 {display: flex; align-items: center;}
#list_inputform .formlist input:not( [type="radio"], [type="checkbox"], [type="password"], , [type="button"]),
#list_inputform .formlist textarea { width:calc( 100% - var(--table_tdWidth)); }
#list_inputform .formlist textarea { height: 80px; }
#list_inputform .formlist input[type="button"],
#list_inputform .formlist button[type="button"] {
    all: unset;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    height: calc( var(--oday_iptHeight) - 2px) !important;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--oday_fw-sBold);
    background-color: var(--oday_btnBgColor) !important;
    border: var(--oday_btnBorder);
    border-radius: 0;
	width:fit-content;
}

#list_inputform .ap_privacy { padding:40px;  border-bottom: var(--oday_listBorderStress); background-color:var(--oday_listBgColorStress1)}
#list_inputform .formlist2 { display:flex; flex-direction: column;}
#list_inputform .formlist2 .t-box {display:flex; align-items: center;  }

#list_inputform .formlist3 { padding:20px 0}
#list_inputform .formlist3,
#list_inputform .formlist3 li {display:flex; align-items: center; justify-content: center;}
#list_inputform .formlist3 li + li { margin-left:20px;}
#list_inputform .apbtn-box {display:flex; align-items: center; justify-content: center; padding:0 0 0 0 }

#list_inputform .ap_result { display: none; }
#list_inputform .ap_result .ap_text_wrapper { text-align:center; padding:20px 0}
#list_inputform .ap_result .ap_text_wrapper h3 { font-size:2em;}
#list_inputform .ap_result .ap_text_wrapper p { font-size:1.2em; line-height:1.4}

#list_inputform .ap_result .ap_basic { border-top: var(--oday_listBorder);  }
#list_inputform .ap_result_basic {border-bottom: var(--oday_listBorder); display:flex; }
#list_inputform .ap_result_basic_th {display:flex; align-items: center; }

@media screen and (max-width: 768px){
	#list_inputform .formlist input:not( [type="radio"], [type="checkbox"], [type="password"], [type="button"] ),
	#list_inputform .formlist textarea { width:100%; margin:0 }
	#list_inputform .ap_privacy { padding:20px 20px; }
}
/*//////////

		게시판 - 갤러리

//////////*/
#list-gall {padding: 0; width: fit-content;}
#list-gall .box .listchk { position:absolute; top: 10px; left: 10px; z-index: 1; mix-blend-mode: unset; }
#list-gall .box .listchk.sum {  left: unset; right:10px; }
#list-gall .box { position:relative; float:left; overflow:hidden; display:block; border-radius: var(--oday_listBorderRadius); background-color: var(--oday_listBgColor); border: var(--oday_listBorder); }
#list-gall .box a { display: block; overflow: hidden;width: 100%; height: 100%}
#list-gall .box .thum { width: 100%; object-fit: cover; object-position: center top; transition-duration: .3s; }
#list-gall .box:hover .thum {
	--un-scale-x: 1.08;
	--un-scale-y: 1.08;
	transform: scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y));
}
#list-gall .box ul { padding: 1em; }
#list-gall .box ul li.columns { display: flex; justify-content: space-between; align-items: center; font-size:.8em; }
#list-gall .box ul li.columns * { display: flex; align-items: center; }
#list-gall .box ul li.columns * * + * { margin-left: 5px; }
#list-gall .box ul li.columns.bottom i { font-size: 1.4em; }
#list-gall .box ul li.columns.middle { margin-top:.5em; margin-bottom:.8em; }
#list-gall .box ul li.columns.bottom { font-size:.9em; }
#list-gall .box ul li.title { font-size: 1em; line-height: 1.4; margin-top:.1em; font-weight: 500;}
#list-gall .box ul li.summary { opacity: .5; font-size:.85em; margin-top:.5em; line-height: 1.4}
#list-gall .box ul li.full { margin-top:10px;}
#list-gall .box .read,
#list-gall .box .count,
#list-gall .box .category { color: var(--oday_mainColorOpt); }
@media screen and (max-width: 768px){
	#list-gall .box ul li.title { font-size: .9em; }
	#list-gall .box ul li.summary { font-size: .8em; }
}
/*썸네일만 보기*/
#list-gall .box.titleIn .titleInbox { position:absolute; bottom: 0; z-index:2; width: 100%; color:#fff; transition:.3s ease; pointer-events: none; opacity:.2}
#list-gall .box.titleIn ul.titleInbox li.title { margin-top: 0; font-weight: 300}
#list-gall .box.titleIn:after { 
	content:""; display:block; position:absolute; top: -10px; left: -10px;  z-index: 0; 
	width:calc(100% + 20px); height:calc(100% + 20px);
	background:linear-gradient(transparent 70%, rgba(0,0,0,.8) 95% ); background-color:rgba(0,0,0,0);
	opacity: 1; transition:.3s ease; pointer-events: none;
	 /*backdrop-filter: grayscale(.2);*/
}
#list-gall .box.titleIn:hover:after { background-color:rgba(0,0,0,.5); 
/* backdrop-filter: grayscale(0); mix-blend-mode: overlay; backdrop-filter: blur(2px);*/ }
#list-gall .box.titleIn:hover .titleInbox { opacity: 1}
@media screen and (max-width: 768px){
	#list-gall .box.titleIn .titleInbox {opacity: 1}
	#list-gall .box.titleIn:after {background:linear-gradient(transparent 50%, rgba(0,0,0,.8) 75% ); background-color:rgba(0,0,0,.1); }
}
/* 갤러리 관련 */
/* 인피티니 스크롤 페이지 위치 안내 */
.infinitiNotice { text-align:center; font-size: 1em; padding: 1em 2em; line-height: 1; width: fit-content; margin: 0 auto; margin-bottom: 1em;; border: var(--oday_listBorderHover); background-color: var(--oday_listBgColor); border-radius: 50px; }
.infinitiNotice span,
.infinitiNotice a { font-weight: var(--oday_fw-sBold); color: var(--oday_mainColor) !important; }
/* 레이어 팝업시 백 고정 : scrollDisable() 스크립트랑 같이 연동 1 */
.scrollDisable {height: 100vh; min-height: 100vh; overflow:hidden !important; touch-action:none; }
.searchBox.gallery { max-width: 100%}
/* 갤러리 - 프레임 */
.iframeCon, 
.iframeCon iframe { width: 100vw; height: 100vh}
.iframeCon {position: fixed; top: 0; left: 0; z-index: 1000; display: none; /*backdrop-filter: blur(10px);*/ }
.iframeCon .iframeBg {position: fixed; top: 0; height: 100vh; width: 100vw;  z-index: -1; background-color:rgba(0,0,0,.6); backdrop-filter: blur(5px); }
:is(.color_scheme_light ) {
	.iframeCon .iframeBg {background-color:rgba(255,255,255,.9); }
}
.iframeBg4Click {position: fixed; top: 0; left: 0; height: 100%; width: 100%; }
.listchk4gall { position:absolute; z-index: 1; width: 30px !important; height: 30px !important; right: 5px; bottom: 5px; } 
/* 인피티니 스크롤 안내 스티키 */
.wrap-infinity { width: 100%; padding:20px 0;  position:relative; height:100px; display: flex; align-items: center; justify-content: center; }
.page-load-status,
.infinity-btn-box { position:absolute; display: flex; align-items: center; justify-content: center; }
.page-load-status p,
.infinity-btn-box a { display:block; background-color: var(--oday_mainColorLight); color:#000; padding: 10px 30px; border-radius: 30px; width: fit-content; line-height: initial; font-size:1em; font-weight: 700; }
.wrap-infinity i { font-size:1.4em;}

/*//////////

		읽기 

//////////*/
.widthSideNavi { position: relative; z-index: 1;margin: 0 auto; padding: 5px 0; width: 100%; max-width: var(--oday_maxWidth); display: flex; }
#readBox { 
	overflow:hidden; position: relative; z-index: 1;
	background-color: var(--oday_listBgColor); border-radius: var(--oday_readRadius); box-shadow: var(--oday_listShadow); border:var(--oday_listBorder);
	margin-bottom:20px; padding-bottom: 30px; width:calc( 100% - calc(var(--oday_sideNaviBtnWidth) + 15px)); 
	}
#readBox .rTitle { padding: var(--oday_sideGap) }
#readBox .rTitle + .rTitle { padding:0  var(--oday_sideGap) var(--oday_sideGap) var(--oday_sideGap); border-top:none; margin-top: calc( var(--oday_sideGap) * -.5 ); /*margin-top: calc( var(--oday_sideGap) * -1 )*/ }
#readBox .rMain + .rTitle { border-top: var(--oday_listBorder); } 
#readBox .rTitle * { margin: 0; padding: 0;  }
#readBox .rTitle .location,
.writeLocation { font-size:.9em; }
#readBox .rTitle .location > i,
.writeLocation div > I { color: var(--oday_mainColorLight); }
#readBox .rTitle .title { font-size: 1.4em; margin: 1.5em 0 0 0; }
#readBox .rTitle .title h1 {line-height: 1.4;}
#readBox .rTitle .meta { display: flex; align-items: center; }
#readBox .rTitle .meta .author { font-weight:400}
#readBox .rTitle .meta > * + * { margin-left: 10px; }
#readBox .rTitle .meta ul li { display: flex; align-items: center; }
#readBox .rTitle .meta ul li span { display: flex; align-items: center; font-size:.8em; }
#readBox .rTitle .meta ul li span.count { font-size: 1em; margin-left: 1em; }
#readBox .rTitle .meta ul li span.count i { font-size: 1.2em; }
#readBox .rTitle .meta ul li .date i { color: var(--oday_mainColorLight); }
#readBox .rTitle .meta ul li + li { margin-top:.2em; }
#readBox .rTitle .meta ul li > * + * { margin-left: .4em; }
#readBox .rMain { padding: var(--oday_sideGap); margin: 0 0 1em 0; border-top: var(--oday_listBorder); } 

#exOut {padding: var(--oday_sideGapLR); margin-bottom:2em; } 

@media screen and (max-width: 768px){
	.naviBoxSide li div { display:none;}
	#readBox { width: 100%; padding-bottom: 20px; }
	#readBox .rTitle .title { font-size: 1.2em; }
	
}
/* 페이지 인포 */
.urlInfo { margin-top:20px; padding: 3em; }
.urlInfo table { font-size: 12px; font-weight: var(--oday_fw-normal); opacity:.9; width: 100%; border-top: var(--oday_listBorder); text-align:left; border-spacing: 0px; }
.urlInfo table tr * {padding: 8px 10px !important; }
.urlInfo table tr * { border-bottom: var(--oday_listBorder); line-height: 1.4; width: 100%; max-width:900px; overflow:hidden; text-overflow: ellipsis; }
.urlInfo table tr th { white-space: pre; font-weight: var(--oday_fw-normal); background-color: var(--oday_bodyBgColor); width: min-content; height:unset; min-height:unset;}
.urlInfo table tr td { width: min-content; height:unset; min-height:unset; display: table-cell; }
.urlInfo h3 { margin-bottom:.5em; }
.urlInfo table + h3 { margin-top:2em; }
/* 하단 액세서리 */
.wrapRopt { padding: var(--oday_sideGapLR); margin-bottom: 3em; }
.wrapRopt > * + * { margin-top: 5px; }
/* 서명 */
.sign { padding: var(--oday_sideGapLR); margin-top:2em; max-width:var(--oday_maxWidth)}
.sign li { border: var(--oday_listBorder); box-shadow: var(--oday_listShadow); background-color: var(--oday_listBgColorStress1); display: flex; align-items: center; padding:20px 30px; border-radius: 10px; font-size:.9em; }
.sign li > * + * { margin-left:3em; }
.sign .smeta { display: flex; flex-direction: column; align-items: center; }
.sign .profile { width: var(--oday_metaIconSize2); height: var(--oday_metaIconSize2); background-color: var(--oday_metaBgColor); color: var(--oday_metaColor); font-size: var(--oday_metaFontSize2); border-radius: 100%; display: flex; align-items: center; justify-content: center; margin-bottom:.2em; }
.sign .stext { line-height: 1.4; flex: 1; }
.sign .stext h3 { margin-bottom:.5em; font-size: 1em; }
.sign .stext > div { opacity:.6; font-size: .9em; }
/* 첨부파일 */
.downlist { display: flex; align-items: center;flex-wrap: wrap; justify-content: center; font-size:.7em; padding: var(--oday_sideGapLR); margin-bottom: 5px; }
.downlist a + a { margin-left: 5px; }
.downlist a { padding: 5px 10px; border: var(--oday_listBorder); background-color: var(--oday_listInBoxColor); border-radius: 3px; display: flex; align-items: center;  margin-bottom:5px}
.downlist a span { opacity:.8; margin-left:.5em; }
.downlist a span i { font-size:.8em; margin: 0 2px; color: var(--oday_mainColorLight); }
/* SNS 공유 */
.doNsns { display: flex; justify-content: center; font-size:.7em; padding: var(--oday_sideGapLR);margin-bottom: 5px }
.doNsns li + li { margin-left: 5px; }
.doNsns a { padding: 0 10px; border: var(--oday_listBorder); background-color: var(--oday_listInBoxColor); border-radius: 3px; height:25px; min-width:25px; display: flex; align-items: center; justify-content: center; line-height: 1; box-sizing:border-box; }
.doNsns .to_sns { display: flex; }
.doNsns .to_sns a { font-size: 1.4em; margin-left: 5px; width:25px; }
/* 태그 */
.tags { font-size:.8em; display: flex; align-items: center;flex-wrap: wrap; justify-content: center; padding: var(--oday_sideGapLR); margin-bottom: 5px }
.tags i { font-size: 1.5em; margin-right:.2em; color: var(--oday_mainColorLight); }
.tags a { border: var(--oday_listBorder); background-color: var(--oday_listInBoxColor); border-radius: 3px; padding: 5px 10px; display: flex; align-items: center; }
.tags a + a { margin-left:.2em; }
/* 추천 */
.vote { display: flex; align-items: center; justify-content: center; margin: 1em 0}
.vote li a { display: flex; align-items: center; justify-content: center; flex-direction: column; border: var(--oday_btnBorder); box-shadow: var(--oday_btnShadow); background-color: var(--oday_btnBgColor); padding: 10px; border-radius: 10px; font-size:.8em; width: 100px; }
.vote li a span.material-symbols-sharp { font-size: 3em; margin-bottom:.2em; }
.vote li a div { display: flex; align-items: center; }
.vote li a span.active { font-size: 1.1em; font-weight: 700; color: var(--oday_mainColorLight); margin-left: 5px; }
.vote li + li { margin-left:.5em; }

@media screen and (max-width: 768px){
	.urlInfo { padding:10px 15px}
	.urlInfo table tr th,
	.urlInfo table tr td { width: 100%; overflow:hidden}
	.sign li {padding:15px}
	.sign li > * + * { margin-left:1em; }
	
}

/*//////////

		읽기 - 댓글

//////////*/
.feedback { background:linear-gradient(transparent, rgba(0,0,0,.04) calc( var(--oday_iptHeight) + 10px),transparent  calc( var(--oday_iptHeight) + 10px)); margin-top: 2em; }
:is(.color_scheme_dark), :root[color-theme='dark'] {
	.feedback { background:linear-gradient(transparent, rgba(0,0,0,.15) calc( var(--oday_iptHeight) + 10px),transparent  calc( var(--oday_iptHeight) + 10px)); }
}
.feedback h2 { 
	display: flex; align-items: center; 
	border: var(--oday_listBorder); background-color: var(--oday_listBgColor); border-bottom:none; 
	padding: 0 20px; margin: 0 auto; height: calc( var(--oday_iptHeight) + 10px); width: fit-content; border-radius: var(--oday_tab); margin-bottom: -1px; 
	position: relative; z-index: 1; font-size: 1em;
	} 
.feedback h2 em { color: var(--oday_mainColor); }
.feedback h2 + * { border-top: var(--oday_listBorder); }
.comList {padding: var(--oday_sideGap); background-color: var(--oday_listBgColor); }
.comList > li + li { margin-top: 1.5em; padding-top: 1.5em; border-top: var(--oday_listBorder); }
.comListSub { display: flex; }
.comListSub .authorwrap { font-size:.9em; }
.comListSub .authorwrap > * + * {margin-left:5px}
.comListSub li.comCon { flex: 1; padding-left: 1em; }
.comListSub li.comCon .xe_content { padding: 1em 0 0 0}
.comListSub li.comCon .xe_content img { max-width: 300px; height: auto !important; }
.comListSub li.comCon .fileList,
.comListSub li.comCon .action { font-size:.8em; text-align:right; margin-top: 1em; }
.comListSub li.comCon .action > * + * { margin-left: 10px; }
.comListSub li.comCon .fileList { display: flex; justify-content: flex-end; }
.comListSub li.comCon .fileList > * + * { margin-left: 10px; }
@media screen and (max-width: 768px){
	.comListSub li.comCon .xe_content img { width: 100% !important; max-width:100%}
}
.xe_content, .rhymix_content { /*padding: 0 1em;*/ font-size: inherit; word-break: break-all; }
.wrapUtilitytWin { display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 20px;/* min-height: 100vh;*/}
.wrapUtilitytWin > li { border-radius: 10px; overflow:hidden; width: 100%; max-width: var(--oday_maxWidth); box-shadow: var(--oday_listShadow); }
.utilitytWin {margin: 0 auto; width: 100%; max-width: var(--oday_maxWidth); background-color: var(--oday_listBgColor);padding: var(--oday_sideGap); }

.utilitytWin .xe_content { margin-top: 1em; padding-top: 1em; border-top: var(--oday_listBorder); }
.utilitytWin h3 { font-size: 1.2em; }
.utilityMessage { padding: 20px 40px; border-radius: 10px; /*border: var(--oday_listBorder);*/ width: fit-content; margin: 0 auto; font-size: 1.2em; }
.otbl {width: 100%;  border-spacing: 0; }
.otbl tr > * { padding: 5px 1.5em; height:calc(var(--oday_iptHeight) + 10px); }
.otbl tr th { width: 120px; text-align: left; position: relative; }
.otbl tr th:after { content: ""; position: absolute; width: 1px; height: calc(100% - 20px); top: 10px; right: 0; border-right: var(--oday_listBorder); box-sizing: border-box; }
/*//////////

		읽기 - 페이지 네비

//////////*/
ul.naviList { display: flex; justify-content: center; position: fixed; width: -webkit-fill-available; top : 50%; height: 1px; padding: 0 20px; z-index: 1; transition:.3s; }
ul.naviList li { display: flex; align-items: center; position:relative; width: 50%; max-width: calc((var(--oday_maxWidth) / 2) + 60px); }
ul.naviList li.disabled span,
ul.naviList li a { display: flex; align-items: center; justify-content: center; line-height: 1; font-size: 1.5em; background-color: var(--oday_listBgColor); border: var(--oday_listBorder); width: 50px; height: 50px; border-radius: 100%; z-index: 1; }
ul.naviList li div { display:block; background-color: var(--oday_listBgColor); padding: 10px 30px; border-radius:40px; border: var(--oday_listBorder); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 300px; transition:.3s; opacity: 0; position:absolute; pointer-events: none; }
ul.naviList li: first-child {}
ul.naviList li:last-child {  justify-content: flex-end; }
ul.naviList li a:hover + div { opacity: 1; }
ul.naviList li: first-child div { margin-left: 0; left: 10px; }
ul.naviList li:last-child div { margin-right: 0; right: 10px; }
ul.naviList li: first-child a:hover + div { margin-left:20px; }
ul.naviList li:last-child a:hover + div { margin-right:20px; }

ul.naviList li a i { font-size: 1.4em; }
ul.naviList li.disabled { opacity:.2}

@media screen and (max-width: 768px){
	ul.naviList { top : unset; bottom: 1em; padding: 0 10px; z-index: 1; }
	ul.naviList li { align-items: flex-end; }
	ul.naviList li.disabled span,
	ul.naviList li a { height: var(--oday_iptHeight); width: var(--oday_iptHeight); font-size: 1em; }
}

.widthSideNavi .naviBoxSide { position: sticky; top: 50px; height: fit-content; display: flex;flex-direction: column; align-items: center; margin-left: 5px; z-index: 1}
.naviBoxSide ul { z-index: 1; padding: 5px; background-color: var(--oday_listBgColor); border-radius: calc( var(--oday_sideNaviBtnWidth) + 10px); box-shadow: var(--oday_listShadow); transition: 0.3s ease; }
.naviBoxSide {transition: 0.3s ease; }
.naviBoxSide li {position:relative; display: flex; align-items: center; }
.naviBoxSide li + li { margin-top: 5px; }
.naviBoxSide li div { 
	position:absolute; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 300px; 
	right:calc(var(--oday_sideNaviBtnWidth) - 30px); background-color: var(--oday_btnBgColor); padding: 10px 40px 10px 20px; border-radius:40px; border: var(--oday_btnBorder); pointer-events: none;
	transition: 0.3s ease;
	opacity: 0;
	visibility: hidden;
	transform: translateX(5px);
	display: flex;
    align-items: center;
}
.naviBoxSide li:hover div {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}
.naviBoxSide a { position:relative; width: var(--oday_sideNaviBtnWidth); height: var(--oday_sideNaviBtnWidth); border: var(--oday_btnBorder); background-color: var(--oday_btnBgColor); box-shadow: var(--oday_btnShadow); display: flex; align-items: center; justify-content: center; border-radius: 100%; z-index: 1; }
.naviBoxSide a i { font-size: 1.4em; }
.naviBoxSide li.disabled { opacity:.2; }
.naviBoxSide li.disabled a { cursor: default; }
.naviBoxSide .naviadd { margin: 5px 5px 0 5px; }
.naviBoxSide .naviadd.gotoListNavi { display:none; }
.naviBoxSide .gotoComInNavi a span {position:absolute; top: -3px; right: -8px; font-size: 18px; color: var(--oday_mainColor);
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40
}
.naviBoxSide a.comcount { color: var(--oday_mainColor); }
.naviBoxSide .yellow,
.naviBoxSide .yellow + a { border: var(--oday_listBorderHover); color: var(--oday_mainColor); }
.naviBoxSide .combo a { border-radius:var(--oday_sideNaviBtnWidth) var(--oday_sideNaviBtnWidth) 0 0; border-bottom:none;}
.naviBoxSide li.combo + li { margin-top: 0; }
.naviBoxSide li.combo + li a { border-radius:0 0 var(--oday_sideNaviBtnWidth) var(--oday_sideNaviBtnWidth);  border-top-style:dashed; }

ul.naviBtn {padding: 1em 2em; border-top: var(--oday_listBorderStress); bottom: -1px; margin-top: 2em; background-color: var(--oday_listBgColor) ; z-index: 1; transition:.3s; }
ul.naviBtn li { display: flex; justify-content: center; }
@media screen and (max-width: 768px){
	.widthSideNavi { flex-direction: column; }
	.widthSideNavi .naviBoxSide { top: unset; bottom: -1px; margin-left: 0; margin-top: 0; padding-bottom: 0; flex-direction: unset; justify-content: flex-start; }
	.widthSideNavi .naviBoxSide ul { display: flex; justify-content: center; width: fit-content;} 
	.naviBoxSide .naviadd { margin: 5px; }
	.naviBoxSide ul + .naviadd {margin-left:auto}
	.naviBoxSide li + li { margin-top: 0; margin-left: 10px; }
	ul.naviBtn {padding: 1em; }
	.naviBoxSide li div { display:none;}
	.naviBoxSide .combo a { border-radius:var(--oday_sideNaviBtnWidth); border-bottom:unset; border: var(--oday_listBorderHover)}
	.naviBoxSide li.combo + li { display:none; }
	.naviBoxSide .naviadd.gotoListNavi { display:block; }
}
/*//////////

		글 작성

//////////*/
#writeBox { 
	overflow:hidden; 
	background-color: var(--oday_listBgColor); border-radius: var(--oday_readRadius); box-shadow: var(--oday_listShadow); padding: var(--oday_sideGap);
	margin-top: 5px; margin-bottom:20px; }
#writeBox .formBox { margin: 2em 0}
#writeBox .tag { margin:20px 0; }
#writeBox .tag label { font-size:.8em; margin-bottom:.5em; display:block; }
/*//////////

		 테이블

//////////*/
:root {	
	--table_tdWidth:150px; 
	--table_objGap:20px;
}
.od-bord .require { padding:0 0 5px 0;  text-align:right}
.od-bord .star i,
.od-bord .require i {color:#f00;  font-size:10px; vertical-align: text-top;}

.od-bord table { width: 100%; border-top: var(--oday_listBorderStress); border-spacing: 0; }
.od-bord .exForm table { border-top:none;}
.od-bord table tr > *,
#list_inputform .formlist > li { border-bottom: var(--oday_listBorder); min-height:calc(var(--oday_iptHeight) + 10px); padding: 5px;}
.od-bord table tr:last-child > * {border-bottom: var(--oday_listBorderStress); }
.od-bord table th,
#list_inputform .formlist > li > label,
#list_inputform .formlist > li > div > label,
#list_inputform .formlist h4,
#list_inputform .ap_result_basic_th { position: relative;  width:var(--table_tdWidth); text-align:left; font-size:12px; font-weight: var(--oday_fw-bold); min-height: var(--oday_iptHeight) ; flex-shrink: 0;}
.od-bord table th:after,
#list_inputform .formlist > li > label:after,
#list_inputform .formlist > li > div > label:after,
#list_inputform .formlist h4:after,
#list_inputform .ap_result_basic_th:after { content: ""; position: absolute; width: 1px; height: calc(100% - 20px); top: 10px; right: 10px; background-color: var(--oday_mainColorLight); box-sizing: border-box; opacity:.5 }
#list_inputform .ap_result_basic_td {min-height: var(--oday_iptHeight) ;   display: flex;  align-items: center;}
.od-bord table td { display: flex; align-items: center; line-height:1.4; padding-top:5px; padding-bottom:5px }
.od-bord input { width:100%;}
.od-bord input[type="password"],
.od-bord input[type="submit"] { width:fit-content;}
.od-bord input[type="button"] { 
	all: unset; 
	white-space:nowrap; cursor:pointer; box-sizing: border-box;
	height:calc( var(--oday_iptHeight) - 2px) !important; padding: 0 10px; 	
	display: flex; align-items: center; justify-content: center; 
	font-weight: var(--oday_fw-sBold); 
	background-color: var(--oday_btnBgColor) !important; border: var(--oday_btnBorder); border-radius: 0;
	width:fit-content;
	}
.od-bord input:not( [type="submit"]):read-only,
.od-bord input:not( [type="submit"]):disabled { border: var(--oday_iptBorder) !important}
.od-bord input:not( [type="submit"]):read-only:hover,
.od-bord input:not( [type="submit"]):disabled:hover {  border: var(--oday_iptBorder) !important; background-color: var(--oday_iptBgColor) !important;}
.od-bord table textarea { height: 80px;}
.od-bord table label + input  {margin-left:var(--table_objGap);}
.od-bord table .nice-select + input,
.od-bord table input + input {margin-left:2px}

/* 코드 하이라이트 예외 */
.syntaxhighlighter  { padding: 10px 0;}
.colorscripter-code-table td,
.syntaxhighlighter  table td { display: table-cell !important;}
@media screen and (max-width: 768px){
	.od-bord table.colorscripter-code-table tr,
	.od-bord .syntaxhighlighter  table tr { display: table-cell !important;}
}
.rx_ev_checkbox,
.rx_ev_radio {display:flex; align-items: center; flex-wrap: wrap; min-height: var(--oday_iptHeight);}
.rx_ev_checkbox li,
.rx_ev_radio li { display: flex; align-items: center;}
.rx_ev_checkbox label,
.rx_ev_radio label { width:unset !important; padding-left:0; white-space:nowrap; font-size:12px;}
.rx_ev_checkbox li,
.rx_ev_radio li {margin: 0 var(--table_objGap) 0 0;}

.krZip { width: 100%}
.krZip > div { display: flex; align-items: center; justify-content: flex-start; }
.krZip > div + div { margin-top:2px; }
.krZip .krzip-postcode { width:60px !important; margin-right:2px !important; min-width: unset !important}
.krZip .krzip-postcode, 
.krZip .krzip-roadAddress, 
.krZip .krzip-jibunAddress, 
.krZip .krzip-extraAddress, 
.krZip .krzip-detailAddress {
	height: var(--oday_iptHeight) !important; border: var(--oday_iptBorder) !important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { display:inline-block; height:unset; background-color:unset; color:unset}
.hasDatepicker { width: 100px !important; margin-right:2px !important; min-width: unset !important}
@media screen and (max-width: 768px){
	.od-bord table tr,
	#list_inputform .formlist > li,
	#list_inputform .formlist .ap_item { display: flex; flex-wrap: wrap;  align-items: unset; padding:5px 0}
	.od-bord table th,
	#list_inputform .formlist > li > label,
	#list_inputform .formlist > li > div > label,
	#list_inputform .formlist h4,
	#list_inputform .ap_result_basic_th { display: flex; align-items: center; width:100%; min-height:30px; border-bottom:none; padding: 5px 10px 0 10px;}
	.od-bord table th:after,
	#list_inputform .formlist > li > label:after,
	#list_inputform .formlist > li > div > label:after,
	#list_inputform .formlist h4:after,
	#list_inputform .ap_result_basic_th:after  { right: unset; left:0; width:2px; height:10px; top:12px; opacity:1 }
	.od-bord table tr { padding:0}
	.od-bord table th { border-bottom:var(--oday_listBorder); color:var(--oday_fontLinkColor); font-weight:var(--oday_fw-medium); border-style: dashed; font-size:.9em; opacity:.8 }
	.od-bord table td { padding:5px 10px; width:100%}
}
