<load target="/_assets/js/owl.carousel.min.js" />
<load target="/_assets/css/owl.theme.default.min.css" />
<load target="css/home.css" />
<article>
	<div class="main_banner">
		<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_contentextended" content_type="document" list_type="classic_top_banner" tab_type="none" markup_type="list" page_count="1" subject_cut_size="40" option_view="title,regdate,nickname,thumbnail,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="Y"  duration_new="24" order_target="update_order" order_type="desc" thumbnail_type="raito" thumbnail_width="1000" thumbnail_height="auto" extravar_name="exvar_title" extravar2_name="exvar_url" extravar3_name="exvar_target"  extravar4_name="exvar_con"  view_secret_document="not_show" 
		module_srls="{$oi->site_banner}"
		list_count="{$oi->site_banner_num}" 
		/>
	</div>
		<!--@if($oi->use_visitor == 'yes')-->
		<div class="b_counter">
		<img class="zbxe_widget_output" widget="counter_status" skin="OrangeDay_counter_status" />
		</div>
		<!--@end-->
		
{@
	if(!$oi->site_new_con_num) $oi->site_new_con_num = 20;
	if(!$oi->site_new_com_num) $oi->site_new_com_num = 20;
	if(!$oi->site_new_gall_num) $oi->site_new_gall_num = 10;
}
	<ul class="basic_main sectionIdx newContent">
		<li class="b_title notice">
			<h2><i class='bx bxs-microphone' ></i> NOTICE</h2>
		</li>
		<li> 
			<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_contentextended" colorset="white" content_type="document" list_type="image_title" tab_type="none" markup_type="list" page_count="1" subject_cut_size="30" option_view="title,regdate,thumbnail" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="Y"  duration_new="24" order_target="update_order" order_type="desc" thumbnail_type="crop" thumbnail_width="35" thumbnail_height="35"  view_secret_document="not_show" show_all_meta="N"
			comment_document_secret="Y"
			module_srls="{$oi->site_notice}"
			list_count="3" 
			/>
		</li>
		<li class="b_title content">
			<h2><i class='bx bxs-detail' ></i> New Content</h2>
		</li>
		<li> 
			<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_contentextended" colorset="white" content_type="document" list_type="image_title" tab_type="none" markup_type="list" page_count="1" subject_cut_size="30" option_view="title,regdate,nickname,thumbnail" show_browser_title="Y" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="Y"  duration_new="24" order_target="update_order" order_type="desc" thumbnail_type="crop" thumbnail_width="40" thumbnail_height="40"  view_secret_document="not_show"
			module_srls="{$oi->site_new_con}"
			list_count="{$oi->site_new_con_num}" 
			/>
		</li>
		<li class="b_title comment">
			<h2><i class='bx bxs-message-rounded' ></i> New Comment</h2>
		</li>
		<li>
			<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_contentextended" content_type="comment" list_type="image_title" tab_type="none" markup_type="list" page_count="1" subject_cut_size="40" option_view="title,regdate,nickname,thumbnail" show_browser_title="Y" show_comment_count="Y" show_trackback_count="N" show_category="Y" show_icon="Y" order_target="update_order" order_type="desc"  duration_new="24" thumbnail_type="crop" thumbnail_width="35" thumbnail_height="35"  view_secret_document="not_show"
			module_srls="{$oi->site_new_com}"
			list_count="{$oi->site_new_com_num}"
			/>
		</li>
	</ul>
	<div class="slidebanner">
		<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_contentextended" colorset="white" content_type="document" list_type="gallery" tab_type="none" markup_type="list" page_count="1" subject_cut_size="20" option_view="title,regdate,nickname,thumbnail,content" show_browser_title="Y" show_comment_count="N" show_trackback_count="N" show_category="Y" show_icon="N" order_target="update_order" order_type="desc"  duration_new="24" thumbnail_type="crop" thumbnail_width="400" thumbnail_height="450"  view_secret_document="not_show"
		module_srls="{$oi->site_new_gall}"
		list_count="{$oi->site_new_gall_num}"
		/>
	</div>
</article>
<style>
.main_banner { padding:10px;}
.main_banner .owl-carousel .owl-stage-outer,
.main_banner .owl-carousel li { border-radius:30px; overflow:hidden;}
.classic_top_banner_extend li { height:250px}
@media screen and (max-width:768px){
	.classic_top_banner_extend li { height:50vw}
}
</style>
