{@ Context::addMetaTag('viewport', 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no');}
{@ $_is_indexmodule = ($site_module_info->module_srl === $current_module_info->module_srl)}
{@
	$oi = $layout_info;
	
	$domain = $_SERVER['HTTP_HOST'];
	/** 기본 **/
	if(!$oi->site_title) $oi->site_title = '호라이즌';
	if(!$oi->use_logo_img) $oi->use_logo_img = 'no';
	if(!$oi->site_copyright) $oi->site_copyright = 'OrangeDay';
	/** 레이아웃 **/	
	if(!$oi->widget_bg_center) $oi->widget_bg_center= 'no'; 
	if(!$oi->widget_bg_side) $oi->widget_bg_side= 'yes'; 
	if(!$oi->layout_align) $oi->layout_align= 'full'; 
	if(!$oi->site_width) $oi->site_width = '1500';
	if(!$oi->layout_align_sub) $oi->layout_align_sub= 'num'; 
	if(!$oi->site_width_sub) $oi->site_width_sub = '1500';	
	if(!$oi->site_wing_width) $oi->site_wing_width = '280';
	if(!$oi->site_wing_gap) $oi->site_wing_gap = '20';
	if(!$oi->site_column_c1) $oi->site_column_c1 = 'yes';
	if(!$oi->site_column_c3) $oi->site_column_c3 = 'yes';
	if($oi->layout_align!='full') :
		$foot_width = $oi->site_width;
	else :
		$foot_width = $oi->site_width_sub;
	endif;
	/** 홈 상단 **/
	if(!$oi->use_main_banner) $oi->use_main_banner = 'no';
	/** 윗젯 중앙 - 해당파일에서 처리 **/
	/** 윗젯 배너 **/
	if(!$oi->banner_use) $oi->banner_use = 'yes';
	if(!$oi->banner_sub_use) $oi->banner_sub_use = 'yes';
	/** 윗젯 왼쪽오른쪽 - 해당파일에서 처리 **/
	/** 서브 페이지 **/
	if(!$oi->use_sub_page) $oi->use_sub_page = 'no';
	if(!$oi->use_snb) $oi->use_snb = 'no';
	if(!$oi->use_snb_location) $oi->use_snb_location = 'right';
	if(!$oi->use_snb_force) $oi->use_snb_force = 'yes';
	/** 테마 **/
	if(!$oi->use_darkMode) $oi->use_darkMode = 'yes';	
	if(!$oi->use_darkMode_set) $oi->use_darkMode_set = 'light';
	if(!$oi->use_colorTheme) $oi->use_colorTheme = 'yes';
	if(!$oi->use_colorTheme_set) $oi->use_colorTheme_set = 'orange';
	if(!$oi->use_brightTheme_set) $oi->use_brightTheme_set = 'd3';	
	/** 기타 **/
	if(!$oi->use_member) $oi->use_member = 'yes';
	if(!$oi->use_gnb_cover) $oi->use_gnb_cover = 'back';
	if(!$oi->view_bottom_gnb) $oi->view_bottom_gnb = 'yes';
	if(!$oi->site_badge) $oi->site_badge = 'yes';
	if(!$oi->use_visitor) $oi->use_visitor = 'yes';
	if(!$oi->use_sns) $oi->use_sns = 'yes';
	if(!$oi->use_sns_b) $oi->use_sns_b = 'yes';
	
	/** 반응형 기준 **/
	if($oi->layout_align == 'num') :
		$checkwidth_oi = $oi->site_width - ($oi->site_wing_width * 2);
	else :
		$checkwidth_oi = $oi->site_width - ($oi->site_wing_width * 2);
	endif;
}
<!--// 레벨 -->
{@
	$oPointModel = getModel('point');
	$point = $oPointModel->getPoint($logged_info->member_srl);
	$oModuleModel = &getModel('module');
	$config = $oModuleModel->getModuleConfig('point');
	$level = $oPointModel->getLevel($point, $config->level_step);
	$next_point = $config->level_step[$level+1];
	$now_point = $config->level_step[$level];
	$need_point = (int)($next_point-$now_point);
	$need_point2 = (int)($point-$now_point);
	if($next_point > 0) $per = (int)($need_point2 / $need_point*1000);
}


<!--@if($oi->googleAnalytics)-->
<script async src="https://www.googletagmanager.com/gtag/js?id={$oi->googleAnalytics}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{$oi->googleAnalytics}');
</script>
<!--@end-->

<load target="/_assets/js/_Oday_script.js" index="-100000000" />
<!--@if($oi->use_darkMode == 'yes')-->
<load target="/_assets/js/_Oday_script_darkMode.js" index="-100000000" />
<!--@else-->
<script>
	setColorScheme("{$oi->use_darkMode_set}");
	$('iframe.cke_wysiwyg_frame').contents().find('body').removeClass("color_scheme_dark, color_scheme_light");
	$('iframe.cke_wysiwyg_frame').contents().find('body').addClass("color_scheme_{$oi->use_darkMode_set}");
	document.documentElement.setAttribute('color-theme', '{$oi->use_darkMode_set}');
	//$('body').addClass("color_scheme_{$oi->use_darkMode_set}");
</script>
<!--@end-->
<!--@if($oi->use_colorTheme == 'yes')-->
<load target="/_assets/js/_Oday_script_colorTheme.js" index="-100000000" />
<!--@else-->
<script>
	$('body').removeClass("color_theme_white color_theme_gray color_theme_orange color_theme_blue color_theme_green color_theme_red color_theme_purple bright_theme_d1 bright_theme_d2 bright_theme_d3 bright_theme_d4"); 
	$('body').addClass("color_theme_{$oi->use_colorTheme_set} bright_theme_{$oi->use_brightTheme_set}");
</script>
<!--@end-->

<load target="/_assets/js/jscookie.js" index="-100000000" />
<load target="/_assets/js/nice-select.js" />

<load target="/_assets/css/nice-select.css" />
<load target="/_assets/css/_Oday_default.css" />
<load target="/_assets/css/_Oday_rhymix_fix.css" /> 

<load target="/_assets/js/jquery-ui.min.js" />
<load target="/_assets/css/jquery-ui.min.css" />

<load target="/_assets/css/nprogress.css" />
<load target="/_assets/js/nprogress.js" />

<load target="css/layout.css" />

<style>
.horizon {display:flex;}
.horizon li { position:relative; }
.horizon li.wing-left,
.horizon li.wing-right { width:{$oi->site_wing_width}px}
.horizon li.main  { width:100%; position: relative;}
.horizon li.main.wr.wl { width:calc(100% - ({$oi->site_wing_width}px * 2) - {$oi->site_wing_gap}px) ; position: relative;} 
.horizon li.main.wl,
.horizon li.main.wr { width:calc(100% - {$oi->site_wing_width}px - ({$oi->site_wing_gap}px * .5)) ; position: relative;} 
.horizon li.main_full { width:100%; position: relative;}
.horizon li.main_half  { width:calc(100% - {$oi->site_wing_width}px - ({$oi->site_wing_gap}px * .5)) ; position: relative;} 
.horizon li.snb #SNB {  padding: 5px 10px 10px 10px; }

<!--@if($oi->widget_bg_side == 'no')-->
	:where(.wing-left, .wing-right) > * + .xe-widget-wrapper { margin-top:40px !important; padding-top:40px !important;  position:relative; }
	:where(.wing-left, .wing-right) > * + .xe-widget-wrapper:before {content:""; position:absolute; top:0px; left:0;display:block; width:100%; height:2px; background: radial-gradient( ellipse farthest-corner at 50% 100%, var(--bggra_up),  transparent 90%); } 
	:where(.wing-left, .wing-right) > * + .xe-widget-wrapper:after {content:""; position:absolute; top:2px; left:0; display:block; width:100%; height:2px; background: radial-gradient( ellipse farthest-corner at 50% 0%, var(--bggra_down),  transparent 90%); }	
	:where(.wing-left, .wing-right) :where(.wrap_contentex, #SNB) { border:unset !important; background-color: unset !important; box-shadow: unset !important; padding: 0px 15px !important; }
<!--@end-->
<!--@if($oi->widget_bg_center == 'no')-->
	.horizon .main :where(.wrap_contentex) { border:unset !important; background-color: unset !important; box-shadow: unset !important; padding: 0px 10px !important; }
	.horizon .main :where(.xe-widget-wrapper + .xe-widget-wrapper, .banner_main + .xe-widget-wrapper) { margin-top:40px !important; padding-top:40px !important;  position:relative; }
	.horizon .main :where(.xe-widget-wrapper + .xe-widget-wrapper, .banner_main + .xe-widget-wrapper):before {content:""; position:absolute; top:0px; left:0;display:block; width:100%; height:2px; background: radial-gradient( ellipse farthest-corner at 50% 100%, var(--bggra_up),  transparent 90%); } 
	.horizon .main :where(.xe-widget-wrapper + .xe-widget-wrapper, .banner_main + .xe-widget-wrapper):after {content:""; position:absolute; top:2px; left:0; display:block; width:100%; height:2px; background: radial-gradient( ellipse farthest-corner at 50% 0%, var(--bggra_down),  transparent 90%); }		
<!--@end-->
<!--@if($oi->use_snb_scroll)-->
	#SNB .depth2 { max-height:{$oi->use_snb_scroll}px; overflow-y:auto; }
	#SNB ul.depth2::-webkit-scrollbar {width: 1px;  overflow:hidden; }
	#SNB ul.depth2::-webkit-scrollbar-track {margin-top:0px; margin-bottom:0px;} 
	#SNB ul.depth2::-webkit-scrollbar-thumb { border:none; }
<!--@end-->
.nav_footer > ul,
#footer ul.comsummury li,
#footer .copyright { max-width:{$foot_width}px; }

@media screen and (max-width:1024px){
	.horizon li.main,
	.horizon li.main_half { width:100% !important; order:1}	
	.horizon li.wing-left {order:2; display: ; width:45%; padding-top:40px; padding-bottom:40px;}
	.horizon li.wing-right {order:3; display: ; width:45%;padding-top:40px; padding-bottom:40px;}
	.horizon li.snb { width:100%}
	.horizon li #SNB { display:none; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	:root {
		--oday_gnbSize:70px;
		--oday_gnbHeight:70px;
		--oday_sideNaviBtnWidth: 4vw;
	}	
	#header.scrollHead {
	--oday_gnbHeight:70px;
	}	
    /* iPad 공통 스타일 */
	.vp,
	.vpwrap br  { display:none !important;  }
	.vm,
	.vmwrap br { display:inherit !important; }		
}
@media screen and (max-width:768px){
	.horizon li.wing-left {order:2; display: ; width:100%; margin-top:0px; padding-top:5px; padding-bottom: 5px}
	.horizon li.wing-right {order:3; display: ; width:100%; margin-top:0; padding-top:0; padding-bottom :0px }
	.horizon li.snb { display:none; }	
}
</style>
<script>
jQuery(function($){
	NProgress.start();
	setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
});
</script>
<include target="/_assets/version.html" />
<ul class="searchWrap">
	<li>
		<h3>SEARCH</h3>
		<div class="wrapsearch">
			통합검색
			<form action="{getUrl()}" method="get" class="searchall" no-error-return-url="true">
				<input type="hidden" name="act" value="IS" />
				<input type="hidden" name="mid" value="" />
				<input type="text" name="is_keyword" value="{$is_keyword}" title="{$lang->cmd_search}" />
				<!-- input type="submit" value="{$lang->cmd_search}" / -->
				<button type="submit"><i class='bx bx-search'></i></button>									
			</form>
		</div>
		<!--@if($oi->googleSearch)-->
		<div class="wrapsearch">
			구글검색
			<script async src="https://cse.google.com/cse.js?cx={$oi->googleSearch}"></script>
			<div class="gcse-searchbox-only" data-resultsUrl="/"></div>
		</div>
		<!--@end-->		
	</li>
	<li><a class="search-close"><i class='bx bxs-x-circle'></i></a></li>
	<li class="searchBg"></li>
</ul>

<header id="header">
	<ul class="front">
		<li class="objHeader start">
			<a href="{getUrl('')}" target="_top" class="gbtn gohome">
				<!--@if($oi->use_logo_img=='yes')-->
				<img src="{$oi->logo_img}" alt="{$oi->site_title}" />
				<!--@else-->
				<span class="text">{$oi->site_title}</span>
				<!--@end-->
				 <!--@if($_is_indexmodule)-->
				<span cond="$logged_info->is_admin == 'Y'" style="font-size:10px; position: absolute; top: 0; left: 0; padding:3px 8px 5px 8px; background-color:var(--oday_mainColor); color:var(--oday_primaryBtnColor); border-bottom-right-radius:6px; line-height:1">
				{$current_version} > {$last_version}</span>
				<!--@end-->
			</a>
			<!--@if($oi->use_member == 'yes')-->
			<a cond="!$is_logged" href="{getUrl('act', 'dispMemberLoginForm')}" class="gbtn vm" rel="nofollow"><i class='bx bx-key' ></i></a>
			<!--@end-->
			<a class="search-open gbtn vm"><i class='bx bx-search'></i></a>
			
			<!--@if($oi->use_member == 'yes')-->
			<div cond="$is_logged" class="loginP vm">
				<a href="{getUrl('act', 'dispMemberInfo')}" class="gbtn" rel="nofollow">
					<!--@if($logged_info->profile_image->src)-->
					<img src="{$logged_info->profile_image->src}" alt="{$logged_info->nick_name}" class="profile" />
					<!--@else-->
					<div class="profile"><i class='bx bxs-ghost' ></i></div>
					<!--@end-->
				</a>
			</div>	
			<!--@end-->
			<a class="viewgnb gbtn"><i class='bx bx-menu' ></i></a>
			<a class="closegnb gbtn"><i class='bx bx-x' ></i></a>
		</li>
		<li class="wrapNav">
			<nav id="nav">
				<ul class="depth0">
					<li loop="$GNB->list => $key1, $val1" class="depth1">
						
						<a href="{$val1['href']}" class="depth1<!--@if($val1['class'])--> {$val1['class']}<!--@end--><!--@if($val1['selected'])--> active1<!--@end-->" target="_blank"|cond="$val1['open_window'] == 'Y'">
							<i cond="$val1['icon']" class="{$val1['icon']}"></i> 
							<span>{$val1['link']|noescape}</span>
							<i cond="$val1['open_window'] == 'Y'" class='bx bx-link-external'></i>
							<i cond="$val1['list']" class='bx bxs-chevron-down'></i>
						</a>
						
						<div cond="$val1['list']" class="subarrow"></div>
						<ul cond="$val1['list']" class="depth2">
							<li loop="$val1['list'] => $key2, $val2" class="more"|cond="$val2['list']">
								<a href="{$val2['href']}" class="active"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window'] == 'Y'">
									{$val2['link']|noescape}
									<i cond="$val2['open_window'] == 'Y'" class='bx bx-link-external'></i>
								</a>
								<ul cond="$val2['list']" class="depth3">
									<li loop="$val2['list'] => $key3, $val3">
										<a href="{$val3['href']}" class="active"|cond="$val3['selected']" target="_blank"|cond="$val3['open_window'] == 'Y'">
											<i class="bx bx-subdirectory-right"></i><span>{$val3['link']|noescape}</span>
											<i cond="$val3['open_window'] == 'Y'" class='bx bx-link-external'></i>
										</a>
										<ul cond="$val3['list']" class="depth4">
											<li loop="$val3['list'] => $key4, $val4">
												<a href="{$val4['href']}" class="active"|cond="$val4['selected']" target="_blank"|cond="$val4['open_window'] == 'Y'">
													<i class="bx bx-subdirectory-right"></i><span>{$val4['link']|noescape}</span>
													<i cond="$val4['open_window'] == 'Y'" class='bx bx-link-external'></i>
												</a>
												<ul cond="$val4['list']" class="depth5">
													<li loop="$val4['list'] => $key5, $val5">
														<a href="{$val5['href']}" class="active"|cond="$val5['selected']" target="_blank"|cond="$val5['open_window'] == 'Y'">
															<i class="bx bx-subdirectory-right"></i><span>{$val5['link']|noescape}</span>
															<i cond="$val5['open_window'] == 'Y'" class='bx bx-link-external'></i>
														</a>
													</li>
												</ul>												
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>

					</li>
				</ul>
			</nav>		
		</li>
		<li class="objHeader end">
			<a class="search-open gbtn vp"><i class='bx bx-search'></i></a>
			<!--@if($oi->use_member == 'yes')-->
			<div cond="!$is_logged" class="fl_right vp">
				<a href="{getUrl('act', 'dispMemberLoginForm')}" class="gbtn" rel="nofollow"><i class='bx bx-key' ></i></a>
			</div>
			
			<div cond="$is_logged" class="loginP">
				<a href="{getUrl('act', 'dispMemberInfo')}" class="gbtn" rel="nofollow">
					<!--@if($logged_info->profile_image->src)-->
					<img src="{$logged_info->profile_image->src}" alt="{$logged_info->nick_name}" class="profile" />
					<!--@else-->
					<div class="profile"><i class='bx bxs-ghost' ></i></div>
					<!--@end-->
				</a>
			</div>
			<!--@end-->
			<a class="closegnb end gbtn"><i class='bx bx-x' ></i></a>
			<div class="vm meta_m">	
			<include target="meta.html" />
			</div>

		</li>
	</ul>
	
	<div class="vp meta_p">	
	<include target="meta.html" />
	</div>
	
</header>

<!--@if($oi->use_gnb_cover == 'backinfo')-->
<div class="header_bg">
	<ul>
		<li class="company">
			<!--@if($oi->use_logo_img=='yes')-->
			<img src="{$oi->logo_img}" alt="{$oi->site_title}" />
			<!--@else-->
			<span class="text">{$oi->site_title}</span>
			<!--@end-->			
		</li>
		<li class="info" cond="$oi->site_info1">{$oi->site_info1}</li>
		<li class="info" cond="$oi->site_info2">{$oi->site_info2}</li>
		<li class="info" cond="$oi->site_info3">{$oi->site_info3}</li>
		<li class="info" cond="$oi->site_info4">{$oi->site_info4}</li>
		<li class="copyright"><i class='bx bx-copyright'></i>&nbsp;{$oi->site_copyright}&nbsp;all rights reserved.</li>
	</ul>
</div>
<!--@elseif($oi->use_gnb_cover == 'back')-->
<div class="header_bg back"></div>
<!--@end-->
<div class="gnbGap"></div>

<!--@if($_is_indexmodule && $module_info && $act != 'IS' && !$q)-->
	<!--@if($oi->use_main_banner == 'yes')-->
		
				<!--@if($oi->use_main_banner_con)-->
					{$oi->use_main_banner_con}
				<!--@else-->
					<include target="_page_top.html" />
				<!--@end-->
				
	<!--@end-->
<!--@end-->


 <!--@if($_is_indexmodule)-->
	<div id="contents" 
	<!--@if($oi->layout_align== 'full')-->
		style="width:100%;"
	<!--@else-->
		style="width:100%; max-width:calc({$oi->site_width}px + 20px)"
	<!--@end-->>
<!--@else-->
	<div id="contents" 
	<!--@if($oi->layout_align_sub== 'full')-->
		style="width:100%;"
	<!--@else-->
		style="width:100%; max-width:calc({$oi->site_width_sub}px + 20px)"
	<!--@end-->>
<!--@end-->

	<!--@if($_is_indexmodule)-->
		<!--@if($q)-->
			<div class="pagelocation"><a>구글 검색</a></div>
			<div class="gcse-searchbox-only" data-resultsUrl="/"></div>
			<div class="gcse-searchresults-only"></div>
		<!--@elseif($act == 'IS')-->
			<include target="pagetitle.html" />
			<div class="templatepage vsearch">{$content}</div>	
		<!--@elseif(!$module_info || $module_info->module=='member' || strpos($act,"dispSociall") !== false)-->
			<div class="templatepage vmeta">{$content}</div>	
		<!--@else-->
		<ul class="horizon">
			<li cond="$oi->site_column_c1=='yes'" class="wing-left">
				<!--@if($oi->site_column_c1_con)-->
					{$oi->site_column_c1_con}
				<!--@else-->
					<include target="_page_left.html" />
				<!--@end-->
			</li>
			<li class="main<!--@if($oi->site_column_c1=='yes')--> wl<!--@end--><!--@if($oi->site_column_c3=='yes')--> wr<!--@end-->">
				<!--@if($oi->site_column_c2_con)-->
					{$oi->site_column_c2_con}
				<!--@else-->
					<include target="_page_center.html" />
				<!--@end-->
			</li>
			<li cond="$oi->site_column_c3 == 'yes'" class="wing-right">
				<!--@if($oi->site_column_c3_con)-->
					{$oi->site_column_c3_con}
					<!--@if($oi->cafe24Traffic)-->
						<include target="traffic.html" />
					<!--@end-->
				<!--@else-->
					<include target="_page_right.html" />
				<!--@end-->
			</li>
		</ul>
		<!--@end-->
		
	<!--@else-->
	
		<!--@if(strpos($act,"dispBoardAdmin") !== false)-->
			<div class="templatepage vboard">{$content}</div>
		<!--@elseif(!$module_info || $module_info->module=='member' || strpos($act,"dispSociall") !== false)-->
			<div class="templatepage vmeta">{$content}</div>	
		<!--@else-->
	
			<!--@if($module_info->use_sidewing == 'no')-->
				<ul class="horizon">
					<li class="main_full">
						<include target="pagetitle.html" />
						<div class="templatepage">{$content}</div>
					</li>
				</ul>
			<!--@elseif($oi->use_sub_page == 'no')-->
				<!--@if($oi->use_snb_force == 'yes')-->
					<ul class="horizon">
						<li cond="$oi->use_snb_location=='left'" class="wing-left snb">
				
								<include target="snb.html" />

						</li>
						<li class="main_half">
							<include target="pagetitle.html" />
							<div class="templatepage">{$content}</div>
						</li>
						<li cond="$oi->use_snb_location=='right'" class="wing-right snb">
		
								<include target="snb.html" />
		
						</li>
					</ul>					
				<!--@else-->
					<ul class="horizon">
						<li class="main_full">
							<include target="pagetitle.html" />
							<div class="templatepage">{$content}</div>
						</li>
					</ul>				
				<!--@end-->
			<!--@else-->
				<ul class="horizon">
					<li cond="$oi->site_column_c1=='yes'" class="wing-left">
						 <!--@if(!Mobile::isMobileCheckByAgent())-->
							<!--@if($oi->use_snb == 'yes' && $oi->use_snb_location=='left')-->				
							<include target="snb.html" />
							<!--@end-->
						<!--@end-->
						<!--@if($oi->site_column_c1_con)-->
							{$oi->site_column_c1_con}
						<!--@else-->
							<include target="_page_left.html" />
						<!--@end-->						
					</li>
					<li class="main<!--@if($oi->site_column_c1=='yes')--> wl<!--@end--><!--@if($oi->site_column_c3=='yes')--> wr<!--@end-->">
						<include target="pagetitle.html" />
						<div class="templatepage">{$content}</div>
					</li>
					<li cond="$oi->site_column_c3 == 'yes'" class="wing-right">
						 <!--@if(!Mobile::isMobileCheckByAgent())-->
							<!--@if($oi->use_snb == 'yes' && $oi->use_snb_location=='right')-->				
							<include target="snb.html" />
							<!--@end-->
						<!--@end-->				

						<!--@if($oi->site_column_c3_con)-->
							{$oi->site_column_c3_con}
							<!--@if($oi->cafe24Traffic)-->
								<include target="traffic.html" />
							<!--@end-->
						<!--@else-->
							<include target="_page_right.html" />
						<!--@end-->
					</li>
				</ul>
			<!--@end-->
			
		<!--@end-->
		
	<!--@end-->
</div>

<footer id="footer">

	<!--@if($oi->use_sns == 'yes')-->
{@
	if(!$oi->site_sns_list) :
		$site_sns_list = ['facebook','twitter','linkedin','naver','kakao'];
	else :
		$site_sns_list = $oi->site_sns_list;
	endif;	
}
		<div class="share_sns">
			<a onClick="share_fb_layout();" class="sns_fb" cond="@in_array('facebook',$site_sns_list ?: [])"><i class='bx bxl-facebook'></i></a>
			<a onClick="share_tw_layout();" class="sns_tw" cond="@in_array('twitter',$site_sns_list ?: [])"><i class='bi bi-twitter-x' ></i></a>
			<a onClick="share_link_layout();" class="sns_tw" cond="@in_array('linkedin',$site_sns_list ?: [])"><i class='bx bxl-linkedin' ></i></a>
			<a onClick="share_naver_layout();" class="sns_na" cond="@in_array('naver',$site_sns_list ?: [])">N</a>
			
			<!--@if($oi->use_kakao_layout)-->
			<a id="kakaotalk-sharing-btn-layout" href="javascript:;" cond="@in_array('kakao',$site_sns_list ?: [])"><i class='bx bxs-message-rounded'></i></a>		
			<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.1/kakao.min.js" crossorigin="anonymous"></script>
			<script>Kakao.init('{$oi->use_kakao_layout}');</script>
			<script>
				const currentUrl = window.location.href;
				const title = $("title").text();
				Kakao.Share.createDefaultButton({
					container: '#kakaotalk-sharing-btn-layout',
					objectType: 'text',
					text: title,
					link: {
						mobileWebUrl: currentUrl,
						webUrl: currentUrl,
					},
				});
			</script>
			<!--@end-->			
			<script>
				/* SNS공유 공통페이지 */
				var linkUrlcom = encodeURIComponent(window.location.href);
				function share_fb_layout() { 
					window.open( 'http://www.facebook.com/sharer.php?u=' + linkUrlcom, '페이스북 공유', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600' );
				}
				function share_tw_layout() {
					var sendText = document.title;
					window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + linkUrlcom,  '트위터 공유', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');
				}
				function share_link_layout() {
					window.open('https://www.linkedin.com/sharing/share-offsite/?url=' + linkUrlcom,  'Linkedin', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');
				}
				function share_naver_layout() {
					window.open('https://share.naver.com/web/shareView?url=' + linkUrlcom + '&title=' + sendText,  'Linkedin', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');
				}				
			</script>		
		</div>
	<!--@end-->
	
	<div class="nav_footer lnb">
		<ul class="depth0">
			<li loop="$LNB->list => $key1, $val1" class="depth1">
				<a href="{$val1['href']}" class="active1"|cond="$val1['selected']" target="_blank"|cond="$val1['open_window'] == 'Y'">
					<i cond="$val1['icon']" class="{$val1['icon']}"></i> 
					<span>{$val1['link']|noescape}</span>
					<i cond="$val1['open_window'] == 'Y'" class='bx bx-link-external'></i>
				</a>
				<div cond="$val1['list']" class="subarrow"></div>
				<ul cond="$val1['list']" class="depth2">
					<li loop="$val1['list'] => $key2, $val2" class="more"|cond="$val2['list']">
						<a href="{$val2['href']}" class="active"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window'] == 'Y'">
							{$val2['link']|noescape}
							<i cond="$val2['open_window'] == 'Y'" class='bx bx-link-external'></i>
						</a>
						<ul cond="$val2['list']" class="depth3">
							<li loop="$val2['list'] => $key3, $val3">
								<a href="{$val3['href']}" class="active"|cond="$val3['selected']" target="_blank"|cond="$val3['open_window'] == 'Y'">
									<i class="bx bx-subdirectory-right"></i><span>{$val3['link']|noescape}</span>
									<i cond="$val3['open_window'] == 'Y'" class='bx bx-link-external'></i>
								</a>
								<ul cond="$val3['list']" class="depth4">
									<li loop="$val3['list'] => $key4, $val4">
										<a href="{$val4['href']}" class="active"|cond="$val4['selected']" target="_blank"|cond="$val4['open_window'] == 'Y'">
											<i class="bx bx-subdirectory-right"></i><span>{$val4['link']|noescape}</span>
											<i cond="$val4['open_window'] == 'Y'" class='bx bx-link-external'></i>
										</a>
										<ul cond="$val4['list']" class="depth5">
											<li loop="$val4['list'] => $key5, $val5">
												<a href="{$val5['href']}" class="active"|cond="$val5['selected']" target="_blank"|cond="$val5['open_window'] == 'Y'">
													<i class="bx bx-subdirectory-right"></i>{$val5['link']|noescape}
													<i cond="$val5['open_window'] == 'Y'" class='bx bx-link-external'></i>
												</a>
											</li>
										</ul>												
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

			</li>
		</ul>
	</div>
	<ul class="comsummury">
		<li class="company">{$oi->site_title}</li>
		<li class="info" cond="$oi->site_info1">{$oi->site_info1}</li>
		<li class="info" cond="$oi->site_info2">{$oi->site_info2}</li>
		<li class="info" cond="$oi->site_info3">{$oi->site_info3}</li>
		<li class="info" cond="$oi->site_info4">{$oi->site_info4}</li>
	</ul>	
	<div class="nav_footer" cond="$oi->view_bottom_gnb == 'yes'">

		<ul class="depth0">
			<li loop="$GNB->list => $key1, $val1" class="depth1">
				<a href="{$val1['href']}" class="active1"|cond="$val1['selected']" target="_blank"|cond="$val1['open_window'] == 'Y'">
					<i cond="$val1['icon']" class="{$val1['icon']}"></i> 
					<span>{$val1['link']|noescape}</span>
					<i cond="$val1['open_window'] == 'Y'" class='bx bx-link-external'></i>
				</a>

				<div cond="$val1['list']" class="subarrow"></div>
				<ul cond="$val1['list']" class="depth2">
					<li loop="$val1['list'] => $key2, $val2" class="more"|cond="$val2['list']">
						<a href="{$val2['href']}" class="active"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window'] == 'Y'">
							{$val2['link']|noescape}
							<i cond="$val2['open_window'] == 'Y'" class='bx bx-link-external'></i>
						</a>
						<ul cond="$val2['list']" class="depth3">
							<li loop="$val2['list'] => $key3, $val3">
								<a href="{$val3['href']}" class="active"|cond="$val3['selected']" target="_blank"|cond="$val3['open_window'] == 'Y'">
									<i class="bx bx-subdirectory-right"></i><span>{$val3['link']|noescape}</span>
									<i cond="$val3['open_window'] == 'Y'" class='bx bx-link-external'></i>
								</a>
								<ul cond="$val3['list']" class="depth4">
									<li loop="$val3['list'] => $key4, $val4">
										<a href="{$val4['href']}" class="active"|cond="$val4['selected']" target="_blank"|cond="$val4['open_window'] == 'Y'">
											<i class="bx bx-subdirectory-right"></i><span>{$val4['link']|noescape}</span>
											<i cond="$val4['open_window'] == 'Y'" class='bx bx-link-external'></i>
										</a>
										<ul cond="$val4['list']" class="depth5">
											<li loop="$val4['list'] => $key5, $val5">
												<a href="{$val5['href']}" class="active"|cond="$val5['selected']" target="_blank"|cond="$val5['open_window'] == 'Y'">
													<i class="bx bx-subdirectory-right"></i>{$val5['link']|noescape}
													<i cond="$val5['open_window'] == 'Y'" class='bx bx-link-external'></i>
												</a>
											</li>
										</ul>												
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

			</li>
		</ul>
	</div>
	<div class="copyright">
		<div><i class='bx bx-copyright'></i>&nbsp;{$oi->site_copyright}&nbsp;all rights reserved.</div>
		<!--@if($oi->site_badge=='yes')-->
			<div class="powered">
				<a href="https://www.orangeday.com/" target="_blank">by <span>OrangeDay</span></a>
			</div>
		<!--@else-->
			<div style="display:none;">by OrangeDay</div>
		<!--@end-->
	</div>	
</footer>
<div class="gototop"><a style="display: none;"><i class='bx bx-chevron-up' ></i></a></div>

<script>
var $ = jQuery;

/* 스크롤바 감추기 */
function scrollDisable(){
    $('body').addClass('scrollDisable').on('scroll touchmove mousewheel', function(e){
      //  e.preventDefault();
    });
}
function scrollAble(){
    $('body').removeClass('scrollDisable').off('scroll touchmove mousewheel');
}

$(function(){
	
	$('.viewgnb').click(function(){
		scrollDisable();
		$("#header").addClass("gnbShow");
		<!--@if(Mobile::isMobileCheckByAgent())-->		
			var $nav = $('.wrapNav');
			if($nav.find('.active.on').length){
				var $target = $nav.find('.active.on');
				var $theight = $(window).height() / 2;
				$nav.animate({
					scrollTop: $target.offset().top - $nav.offset().top - $theight
				},0); // 500ms 부드러운 스크롤
			}
		<!--@end-->
	});
	$('.closegnb').click(function(){
		<!--@if(Mobile::isMobileCheckByAgent())-->
			var $nav = $('.wrapNav');
			$nav.animate({
				scrollTop: 0
			},0); // 500ms 부드러운 스크롤
		<!--@end-->
		scrollAble();
		$("#header").removeClass("gnbShow");
		
	});

});
/* 검색 열고 닫기 */
$(".search-open").click(function(){
	$('.searchWrap').addClass('active');
	$('.gsc-search-button-v2').html('<i class="bx bx-search"></i>');
});
$(".search-close, .searchBg").click(function(){
	$('.searchWrap').removeClass('active');
});

$('.g-search-acitive').click(function(){
	$("#g-search").addClass("gsearchShow");
});
$('.g-search-deacitive').click(function(){
	$("#g-search").removeClass("gsearchShow");
});
/* 상단이동 */
$(".gototop").click(function(){
	$('html, body').animate({scrollTop: 0}, 300);
});
window.addEventListener("load", function () {
	$('.depth0').each(function() {
		$(this).find('.active').last().addClass('on');
	});	
});
</script>
<!--@if(!Mobile::isMobileCheckByAgent())-->
<script>
$(window).scroll(function () {
	Yposition = $(this).scrollTop();
	if (Yposition >= 100) {
		$(".gototop a").fadeIn(100);
		$("#header").addClass("scrollHead");
	}else {
		$(".gototop a").fadeOut(100);
		$("#header").removeClass("scrollHead");
	}
});
</script>
<!--@else-->
<script>
$(window).scroll(function () {
	Yposition = $(this).scrollTop();
	<!--@if($module_info->module =='board')-->
		
		<!--@if($oDocument && $oDocument->isExists())-->
			$tposi = $(".readend").offset().top - 500;
		<!--@else-->
			$tposi = 100;
		<!--@end-->
		
	<!--@else-->
		$tposi = 100;
	<!--@end-->
	
	if (Yposition >= $tposi) {
		$(".gototop a").fadeIn(100);
	}else {
		$(".gototop a").fadeOut(0);
	}
});
</script>
<!--@end-->