{@
	if(!$oi->site_banner_num) $oi->site_banner_num = 3;
	if(!$oi->site_new_gall_num) $oi->site_new_gall_num = 10;	
	if(!$oi->site_new_con_num) $oi->site_new_con_num = 20;
	if(!$oi->site_new_com_num) $oi->site_new_com_num = 20;	
	if(!$oi->site_notice_num) $oi->site_notice_num = 3;	
}


<ul class="main_con">

	<!--@if($oi->site_banner)-->
	<li class="main_banner">
		<!-- 상단 풀배너 -->
		<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_ce_multi" content_type="document" view_secret_document="not_show" list_type="banner_one" view_mode_ex="300" order_target="update_order" order_type="desc" extravar_name="exvar_title" extravar2_name="exvar_url" extravar3_name="exvar_target" extravar4_name="exvar_con" thumbnail_width="1200" thumbnail_height="auto" thumbnail_type="raito" 
		module_srls="{$oi->site_banner}" 
		list_count="{$oi->site_banner_num}" />
	</li>
	<!--@end-->
	
	<li class="con_topic">
		<ul class="topic">
			<li>
				<!-- 조회수 많은 글 -->			
				<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_ce_multi" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="fill" view_secret_document="not_show" content_type="document" subject_cut_size="" content_cut_size="300" order_target="readed_count" use_limit="readed_count_upper" limit_number="50" order_type="asc" view_mode="1" show_thumbnail="N" thumbnail_width="40" thumbnail_height="60" show_browser_title="N" show_category="N" show_title="Y" show_contents="N" show_all_meta="Y" show_nickname="N" show_regdate="N" show_comment_count="N" show_vote_count="N" show_read_count="Y" 
				show_main_title="TOP VIEW" 
				show_main_title_icon="bx bxs-show"
				module_srls="{$oi->site_new_con}" 
				list_count="{$oi->site_notice_num}" /> 
			</li>
			<li>
				<!-- 추처수 많은 글 -->			
				<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_ce_multi" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="fill" view_secret_document="not_show" content_type="document" subject_cut_size="" content_cut_size="300" order_target="voted_count" use_limit="voted_count_upper" limit_number="1" order_type="asc" view_mode="1" show_thumbnail="N" thumbnail_width="40" thumbnail_height="60" show_browser_title="N" show_category="N" show_title="Y" show_contents="N" show_all_meta="Y" show_nickname="N" show_regdate="N" show_comment_count="N" show_vote_count="Y" show_read_count="N" 
				show_main_title="TOP SUGGEST" 
				show_main_title_icon="bx bxs-heart"
				module_srls="{$oi->site_new_con}" 
				list_count="{$oi->site_notice_num}" /> 
			</li>
			<li>
				<!-- 랜덤  -->			
				<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_ce_multi" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="fill" view_secret_document="not_show" content_type="document" subject_cut_size="" content_cut_size="300" order_target="rand()" use_limit="" limit_number="1" order_type="desc" view_mode="1" show_thumbnail="N" thumbnail_width="40" thumbnail_height="60" show_browser_title="N" show_category="N" show_title="Y" show_contents="N" show_all_meta="Y" show_nickname="N" show_regdate="Y" show_comment_count="N" show_vote_count="N" show_read_count="N" 
				show_main_title="RANDOM" 
				show_main_title_icon="bx bxs-dice-5"
				module_srls="{$oi->site_new_con}" 
				list_count="{$oi->site_notice_num}" /> 
			</li>
			<li>
				<!-- 공지 글 -->			
				<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_ce_multi" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="crop" view_secret_document="not_show" content_type="document" subject_cut_size="" content_cut_size="300" order_target="update_order" use_limit="" limit_number="" order_type="desc" view_mode="1" show_thumbnail="N" thumbnail_width="30" thumbnail_height="30" show_browser_title="N" show_category="N" show_title="Y" show_contents="N" show_all_meta="N" show_nickname="N" show_regdate="Y" show_comment_count="N" show_vote_count="N" show_read_count="N" 
				show_main_title="NOTICE" 
				show_main_title_icon="bx bxs-microphone" 
				go_url="{$oi->site_notice_link}" 
				module_srls="{$oi->site_notice}" 
				list_count="{$oi->site_notice_num}" /> 
			</li>
		</ul>
	</li>
	<li>
		<ul class="con_new">
			<li>
				<!-- 새글  -->			
				<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_ce_multi" content_type="document" view_secret_document="not_show" list_type="masonry" view_mode="3" order_target="update_order" order_type="desc" show_thumbnail="Y" thumbnail_width="100" thumbnail_height="150" thumbnail_type="fill" show_browser_title="Y" show_category="Y" show_title="Y" subject_cut_size="" show_contents="Y" content_cut_size="500" show_all_meta="Y" show_nickname="N" show_regdate="Y" show_comment_count="Y" show_vote_count="Y" show_read_count="Y" 
				show_main_title="새글" 
				show_main_title_icon="bx bxs-book" 
				module_srls="{$oi->site_new_con}" 
				list_count="{$oi->site_new_con_num}" />
			</li>
			<li>
				<!-- 새 댓글 -->				
				<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_ce_multi" list_type="simple" markup_type="list" page_count="1" option_view="title,regdate,nickname,thumbnail,content" show_trackback_count="N" show_icon="Y" duration_new="24" thumbnail_type="crop" view_secret_document="not_show" content_type="comment" subject_cut_size="" content_cut_size="300" order_target="update_order" use_limit="" limit_number="" order_type="desc" view_mode="1" show_thumbnail="N" thumbnail_width="30" thumbnail_height="30" show_browser_title="N" show_category="N" show_title="Y" show_contents="N" show_all_meta="Y" show_nickname="N" show_regdate="Y" show_comment_count="N" show_vote_count="N" show_read_count="N" 
				show_main_title="COMMENT" 
				show_main_title_icon="bx bxs-message-rounded-dots" 
				module_srls="{$oi->site_new_con}" 
				list_count="{$oi->site_new_com_num}" />
				
				<!--@if($oi->use_visitor == 'yes')-->
					<!-- 방문자 카운터 -->	
					<img class="zbxe_widget_output" widget="counter_status" skin="OrangeDay_counter_status_classic" /> 
				<!--@end-->
				
				<!--@if($oi->cafe24Traffic)-->
					<!-- 카페24 트래픽 -->	
					<include target="traffic.html" />
				<!--@end-->				
			</li>
		</ul>
	</li>
	<li class="con_gall sideWing">
		<!-- 갤러리 -->	
		<img class="zbxe_widget_output" widget="contentextended" skin="OrangeDay_ce_multi" content_type="document" view_secret_document="not_show" list_type="banner_several" view_mode="1" order_target="update_order" order_type="desc" show_thumbnail="N" thumbnail_width="200" thumbnail_height="300" thumbnail_type="fill" show_browser_title="Y" show_category="N" show_title="Y" show_contents="Y" content_cut_size="300" show_all_meta="Y" show_nickname="Y" show_regdate="Y" show_comment_count="Y" show_vote_count="Y" show_read_count="Y" 
		show_main_title="GALLERY" 
		show_main_title_icon="bx bx-image-alt"
		module_srls="{$oi->site_new_gall}" 
		list_count="{$oi->site_new_gall_num}" />
	</li>

</ul>

<style>
.main_con { padding:20px 0}
.main_con > li + li { margin-top:20px; }
.con_new,
.topic { display:flex; justify-content: space-between; flex-wrap: wrap;}
@media screen and (min-width:1000px){
	.topic > li { width:calc((100% / 4) - 5px) }
	.con_new > li:nth-child(1) { width:calc(75% - 2px) }
	.con_new > li:nth-child(2) { width:calc(25% - 5px) }
}
@media screen and (max-width:1000px){
	.topic > li { width:calc((100% / 2) - 5px) }
	.topic > li:nth-child(n+3) { margin-top:10px}
	.con_new > li:nth-child(1) { width:100% }
	.con_new > li:nth-child(2) { width:100%;  margin-top:10px }
}
@media screen and (max-width:768px){
	.main_con { padding:20px 2vw}
}
</style>
