@charset "utf-8";
.main_banner { width:100% ; }
.main_banner .owl-carousel .owl-stage-outer,
.main_banner .owl-carousel li { border-radius:30px; overflow:hidden;}
	
	
.main_con:after { content:""; clear:both; display:block;  }
.main_con > li { margin-bottom:20px;}

.topic > li > * + *,
.main_con > li > * + * { margin-top:20px;}
.main_con > li > * + h2 { margin-top:50px;}

.main_con h2 { font-size:.9em; margin:0 0 10px 0; font-weight:900; letter-spacing:0px; color:var(--oday_mainColorDark )}
.main_con h2 i.bx { font-size:1.2em; vertical-align: text-bottom;}


:is(.color_scheme_dark),
:root[color-theme='dark'] {
	.main_con h2 { font-weight:500; color:var(--oday_mainColorLight )}
}

@media screen and (max-width:768px){
	.main_banner .owl-carousel .owl-stage-outer,
	.main_banner .owl-carousel li  { border-radius:20px; overflow:hidden;}
}
