<div class="widget_wrap" style="margin-bottom:10px; padding: 10px 10px; font-size:.85em;">
{@
	if($oi->cafe24Traffic) :
		$url = $oi->cafe24Traffic;
		$ch = curl_init();

		curl_setopt($ch, CURLOPT_URL, $url); 
		curl_setopt($ch, CURLOPT_RETURNTRANSFER, true); 

		$html = curl_exec($ch);
		$httpCode = curl_getinfo($ch, CURLINFO_HTTP_CODE);  
		curl_close($ch);

		if ($httpCode == 404 || !$html) :
		    $percentValue = 0;
		    $limitValue = 0;
		else :
		    libxml_use_internal_errors(true);  
		    $dom = new DOMDocument();
		    $dom->loadHTML($html);
		    libxml_clear_errors();

		    $xpath = new DOMXPath($dom);
		    $percentElement = $xpath->query('//*[@id="percent"]')->item(0);
		    $limitElement = $xpath->query('//*[@id="limit"]')->item(0);

		    $percentValue = $percentElement ? preg_replace('/[^0-9]/', '', $percentElement->nodeValue) : 0;
		    $limitValue = $limitElement ? preg_replace('/[^0-9]/', '', $limitElement->nodeValue) : 0;
		endif;
	endif;
	
	if($oi->cafe24Disk) :
		$user_space = $oi->cafe24Disk;
		$save = (int)$user_space; 
		set_time_limit(0);
		$du_cgibin = `du -s ./`; 
		$du_root = `du -s ../`;
		if($du_root) :
			$du_m = (int)$du_root;
		else :
			$du_m = (int)$du_cgibin;
		endif;
		$du_m = $du_m/1000;
		$percent_hdd = $du_m/$save*100;
		$percentage_hdd = (int)($percent_hdd);
		if($percentage_hdd < 1) $percentage_hdd = 1;
		if($percentage_hdd > 100) $percentage_hdd = 99;
		$left_hdd = 100-$percentage_hdd;

		$percent_hdd = ((int)($percent_hdd));
		$percentage_hdd = $percentage_hdd;
		$left_hdd = $left_hdd;
		$used_space = ((int)($du_m*100))/100;
	endif;
			
}
	<ul class="trafiic">
		<li cond="$oi->cafe24Traffic">
			<span><i class='bx bxs-bar-chart-alt-2'></i> {$percentValue}%</span>
			<div class="graph">
				<div style="width:{$percentValue}%;"></div>				
			</div>
		</li>
		<li cond="$oi->cafe24Disk">
			<span><i class='bx bxs-cylinder'></i> {$percent_hdd}%</span>
			<div class="graph">
				<div style="width:{$percent_hdd}%;"></div>				
			</div>
		</li>
	</ul>
</div>	
<style>
.trafiic {display: flex; justify-content: space-between;
	--traffic_title_width: 30px;
}
.trafiic li {width:100%; display: flex; align-items: center; line-height: 1;}
.trafiic li + li { margin-left:10px}
.trafiic li span { width:var(--traffic_title_width);  font-size:8px;}
.trafiic li span i { margin:0 0 0 0;}
.graph {position:relative; width:calc(100% - var(--traffic_title_width));  height:2px; border-radius:2px; background-color: var(--oday_listBgColorDown2); display: flex; align-items: center;}
.graph div { position:absolute; left:0; height:6px; background-color:var(--oday_mainColor); border-radius:4px;  }

</style>