.ap_extra_update input[type="radio"] {
    mix-blend-mode: var(--oday_iptBlendmode);
}
.ap_extra_update input[type="radio"] {
    accent-color: var(--oday_mainColor);
}
.ap_extra_update input[type="radio"]:checked {
mix-blend-mode: unset;
}
.ap_extra_update input[type="text"] {
	border: var(--oday_iptBorder);
	line-height: 1;
	background-color: var(--oday_iptBgColor);
	transition: .3s ease;
	height: var(--oday_iptHeight) !important;
	width:100%;
	padding:0 10px;
}
.ap_extra_update input[type="text"]:focus { outline: none; border: var(--oday_iptBorderHover) !important;  background-color: var(--oday_iptBgHoverColor) !important; }

.ap_extra_update {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	background-color: var(--oday_popupBgColor);
	backdrop-filter: blur(5px);
}
.ap_extra_update_name_category {
	margin-right: 16px;
	white-space: nowrap;
	font-weight: bold;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:var(--oday_listBorderStress1);
	width:100%;
    flex-shrink: 0;
}

.ap_extra_update_wrapper {
	width: 100%;
	min-width: 320px;
	max-width: 480px;
	padding: 20px 40px;
	background-color:var(--oday_listBgColor);
	border:var(--oday_listBorder);
	border-radius: var(--oday_readRadius);
	box-sizing: border-box;
}
.ap_extra_update_formHTML.category_list input { margin-right:5px;}
.ap_extra_update_formHTML.category_list > ul {
	display: flex;
	align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;	
}
.ap_extra_update_formHTML.category_list > ul > li {width:100%}
.ap_extra_update_formHTML.category_list > ul > li + li { margin-top:10px; padding-top:10px; border-top:var(--oday_listBorder)}
.ap_extra_update_formHTML.category_list > ul ul { 
	min-height:unset;
	display: flex;
    align-items: flex-start;
    flex-wrap: wrap;	
	flex-direction: row;
	margin-left:10px; 
	padding-left:10px; 
	border-left:var(--oday_listBorder)
}
.ap_extra_update_formHTML.category_list > ul ul li { margin:5px }

.ap_extra_update_element.categorylist {
	display: none;
	flex-wrap: wrap;
	align-items: center;
	margin: 12px 0;
}
.ap_extra_update_name { margin-right:10px; white-space:nowrap}
.ap_extra_update_command {
	margin-top:20px; padding-top:20px; border-top:var(--oday_listBorderStress1);
    display: flex;
    justify-content: space-between;
}
.ap_extra_update_element {
	display: none;
	flex-wrap: nowrap;
	align-items: center;
	margin: 12px 0;
}
.ap_extra_update_formHTML { width:100%;}