{@ Context::addMetaTag('viewport', 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no');}
{@ $_is_indexmodule = ($site_module_info->module_srl === $current_module_info->module_srl)}
{@
	$oi = $layout_info;
	
	$domain = $_SERVER['HTTP_HOST'];
	
	if(!$oi->layout_align) $oi->layout_align = 'full';
	if(!$oi->site_width) $oi->site_width = '1200';
	if(!$oi->gnb_width) $oi->gnb_width = '180';
	$layout_apply_width = $oi->site_width - $oi->gnb_width;
	if(!$oi->site_sign_meta) $oi->site_sign_meta = 'yes';
	if(!$oi->site_badge) $oi->site_badge = 'yes';
	
	if(!$oi->lgo_view_img) $oi->lgo_view_img = 'yes';
	if(!$oi->lgo_view_text) $oi->lgo_view_text = 'yes';
	if(!$oi->site_title_lang) $oi->site_title_lang = 'eng';
	if(!$oi->lgo_font_size) $oi->lgo_font_size = '20';
	if(!$oi->lgo_font_height) $oi->lgo_font_height = '0';
	if(!$oi->lgo_box_padding) $oi->lgo_box_padding = '0';
	if(!$oi->logo_img_round) $oi->logo_img_round = '0';

	if(!$oi->use_visitor) $oi->use_visitor = 'yes';
	
	if(!$oi->use_gnb) $oi->use_gnb = 'yes';
	if(!$oi->use_gnb_allways_open) $oi->use_gnb_allways_open = 'no';
	if(!$oi->use_gnb_max_height) $oi->use_gnb_max_height = 'no';
	
	if(!$oi->use_darkMode) $oi->use_darkMode = 'yes';
	if(!$oi->use_darkMode_set) $oi->use_darkMode_set = 'dark';
	
	if(!$oi->use_colorTheme) $oi->use_colorTheme = 'yes';
	if(!$oi->use_colorTheme_set) $oi->use_colorTheme_set = 'orange';
	if(!$oi->use_brightTheme_set) $oi->use_brightTheme_set = 'd2';
	
}
<!--// 쪽지  -->
{@ 
	$args = new stdClass(); 
	$args->receiver_srl = $logged_info->member_srl; 
	$output = executeQuery('communication.getNewMessage', $args);
}
<!--// 레벨 -->
{@
	$oPointModel = getModel('point');
	$point = $oPointModel->getPoint($logged_info->member_srl);
	$oModuleModel = &getModel('module');
	$config = $oModuleModel->getModuleConfig('point');
	$level = $oPointModel->getLevel($point, $config->level_step);
	$next_point = $config->level_step[$level+1];
	$now_point = $config->level_step[$level];
	$need_point = (int)($next_point-$now_point);
	$need_point2 = (int)($point-$now_point);
	if($next_point > 0) $per = (int)($need_point2 / $need_point*1000);
}

<!--@if($oi->googleAnalytics)-->
<script async src="https://www.googletagmanager.com/gtag/js?id={$oi->googleAnalytics}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{$oi->googleAnalytics}');
</script>
<!--@end-->


<load target="/_assets/js/_Oday_script.js" index="-100000000" />
<!--@if($oi->use_darkMode == 'yes')-->
<load target="/_assets/js/_Oday_script_darkMode.js" index="-100000000" />
<!--@else-->
<script>
	setColorScheme("{$oi->use_darkMode_set}");
	$('iframe.cke_wysiwyg_frame').contents().find('body').removeClass("color_scheme_dark, color_scheme_light");
	$('iframe.cke_wysiwyg_frame').contents().find('body').addClass("color_scheme_{$oi->use_darkMode_set}");
	document.documentElement.setAttribute('color-theme', '{$oi->use_darkMode_set}');
	//$('body').addClass("color_scheme_{$oi->use_darkMode_set}");
</script>
<!--@end-->
<!--@if($oi->use_colorTheme == 'yes')-->
<load target="/_assets/js/_Oday_script_colorTheme.js" index="-100000000" />
<!--@else-->
<script>
	$('body').removeClass("color_theme_white color_theme_gray color_theme_orange color_theme_blue color_theme_green color_theme_red bright_theme_d1 bright_theme_d2 bright_theme_d3"); 
	$('body').addClass("color_theme_{$oi->use_colorTheme_set} bright_theme_{$oi->use_brightTheme_set}");
</script>
<!--@end-->

<load target="/_assets/js/jscookie.js" index="-100000000" />
<load target="/_assets/js/nice-select.js" />
<load target="/_assets/css/nice-select.css" />
<load target="/_assets/css/_Oday_default.css" />
<load target="/_assets/css/_Oday_rhymix_fix.css" /> 

<load target="/_assets/js/jquery-ui.min.js" />
<load target="/_assets/css/jquery-ui.min.css" />

<load target="/_assets/css/nprogress.css" />
<load target="/_assets/js/nprogress.js" />

<load target="css/layout.css" />

<script>
jQuery(function($){
	NProgress.start();
	setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
});
</script>

<ul class="searchWrap">
	<li>
		<h3>SEARCH</h3>
		<div class="wrapsearch">
			통합검색
			<form action="{getUrl()}" method="get" class="searchall" no-error-return-url="true">
				<input type="hidden" name="act" value="IS" />
				<input type="hidden" name="mid" value="" />
				<input type="text" name="is_keyword" value="{$is_keyword}" title="{$lang->cmd_search}" />
				<!-- input type="submit" value="{$lang->cmd_search}" / -->
				<button type="submit"><i class='bx bx-search'></i></button>									
			</form>
		</div>
		<!--@if($oi->googleSearch)-->
		<div class="wrapsearch">
			구글검색
			<script async src="https://cse.google.com/cse.js?cx={$oi->googleSearch}"></script>
			<div class="gcse-searchbox-only" data-resultsUrl="/"></div>
		</div>
		<!--@end-->		
	</li>
	<li><a class="search-close"><i class='bx bxs-x-circle'></i></a></li>
	<li class="searchBg"></li>
</ul>

<header>
	<a class="search-open"><i class='bx bx-search'></i></a>
	<a href="{getUrl('')}" target="_top" class="hlogo">
		<!--@if($oi->site_title1)-->
		{$oi->site_title1}
		<!--@end-->
		<!--@if($oi->site_title2)-->
		{$oi->site_title2}
		<!--@end-->
		<!--@if(!$oi->site_title1 && !$oi->site_title2)-->
		사이트명을<br />설정해 주세요.
		<!--@end-->
	</a>
	<a onclick="viewGnb();" class="viewgnb"><i class='bx bx-menu' ></i></a>
</header>
<ul class="setBox vp" cond="$oi->use_gnb == 'yes' || $oi->use_darkMode == 'yes' || $oi->use_colorTheme == 'yes'">
	<li class="cog"><i class='bx bxs-cog' ></i></li>
	<li class="setBoxlist">
		<ul>
		<!--@if($oi->use_darkMode == 'yes')-->
			<li class="mod-theme-pc mod-dark">
				<span>Dark Mode</span>
				<div>
					<a onclick="setThemeDark()" class="ovt viewDark"><i class='bx bxs-moon'></i></a>
					<a onclick="setThemeLight()" class="ovt viewLight"><i class='bx bxs-sun' ></i></a>
				</div>
			</li>
		<!--@end-->
		<!--@if($oi->use_gnb == 'yes')-->
			<li class="mod-theme-pc mod-gnb">
				<span>GNB Always Open</span>
				<div>
					<input type="checkbox" class="checkonoff" id="gnbsubopen" /><label for="gnbsubopen"></label>
				</div>
			</li>
		<!--@end-->
		<!--@if(!Mobile::isMobileCheckByAgent())-->
			<!--@if($oi->use_gnb == 'yes')-->
				<li class="mod-theme-pc mod-gnb">
					<span>GNB Height Maximize</span>
					<div>
						<input type="checkbox" class="checkonoff" id="gnbheightmaximize" /><label for="gnbheightmaximize"></label>
					</div>
				</li>
			<!--@end-->
		<!--@end-->
		<!--@if($oi->use_colorTheme == 'yes')-->
			<li class="mod-theme-pc mod-theme color">
				<span>Color</span>
				<div>
					<a onclick="setTheme_color('white');" class="tooltip tooltipSet" title="화이트"><i class='bx bxs-palette white' ></i></a> 
					<a onclick="setTheme_color('gray');" class="tooltip tooltipSet" title="블루그레이"><i class='bx bxs-palette gray' ></i></a>
					<a onclick="setTheme_color('orange');" class="tooltip tooltipSet" title="오렌지"><i class='bx bxs-palette orange' ></i></a> 
					<a onclick="setTheme_color('blue');" class="tooltip tooltipSet" title="블루"><i class='bx bxs-palette blue' ></i></a> 
					<a onclick="setTheme_color('green');" class="tooltip tooltipSet" title="그린"><i class='bx bxs-palette green' ></i></a>
					<a onclick="setTheme_color('red');" class="tooltip tooltipSet" title="레드"><i class='bx bxs-palette red' ></i></a>
				</div>
			</li>
			<li class="mod-theme-pc mod-theme bright">
				<span>Brightness </span>
				<div>
					<a onclick="setTheme_bright('d1');" class="tooltip tooltipSet" title="저대비"><i class='bx bx-signal-1 d1' ></i></a> 
					<a onclick="setTheme_bright('d2');" class="tooltip tooltipSet" title="중대비"><i class='bx bx-signal-3 d2' ></i></a> 
					<a onclick="setTheme_bright('d3');" class="tooltip tooltipSet" title="고대비"><i class='bx bx-signal-5 d3' ></i></a>
				</div>
			</li>
		<!--@end-->
		</ul>
	</li>
</ul>
<ul id="odaylayout">
	<li id="ol_left" <!--@if(Mobile::isMobileCheckByAgent())-->class="gnbfull"<!--@end-->>
		<div>
			<a class="closegnb vm" onclick="closeGnb();"><i class='bx bx-x'></i></a>
			<ul id="logo">
				<!--@if($oi->site_birthday)-->
				<li class="since">SINCE <span>{$oi->site_birthday}</span></li>
				<!--@end-->
				<li class="gnbtitle<!--@if($oi->site_title_lang == 'kor')--> korean<!--@end-->"<!--@if(!Mobile::isMobileCheckByAgent())--> style="padding:{$oi->lgo_box_padding}px 0"<!--@end-->>
					
					<!--@if($oi->logo_img && $oi->lgo_view_img == 'yes' && !Mobile::isMobileCheckByAgent())-->
						<a href="{geturl('')}">
							{@ if(!$oi->logo_img_width) $oi->logo_img_width = '80'; }
							<img src="{$oi->logo_img}" alt="{$oi->site_title1} {$oi->site_title2}" class="vp" style="width: {$oi->logo_img_width}%; border-radius:{$oi->logo_img_round}px" />
							<img src="{$oi->logo_img}" alt="{$oi->site_title1} {$oi->site_title2}" class="vm" />
						</a>
					<!--@end-->
					
					<!--@if($oi->lgo_view_text == 'yes')-->
						<a href="{geturl('')}" style="font-size:{$oi->lgo_font_size}px">
						<!--@if(!Mobile::isMobileCheckByAgent())--> 
							<!--@if($oi->site_title1)-->
								<span>{$oi->site_title1}</span>
							<!--@end-->
							<!--@if($oi->site_title2)-->
								<span style="margin-top:{$oi->lgo_font_height}px">{$oi->site_title2}</span>
							<!--@end-->
						<!--@else-->
							<span>{$oi->site_title1} {$oi->site_title2}</span>
						<!--@end-->
						</a>
					<!--@end-->
					<div class="dec vp" cond="$oi->site_title3">
						{nl2br($oi->site_title3)}
					</div>
				</li>
				<li class="search-btn vp">
					<span>&nbsp;</span>
					<a class="search-open"><i class='bx bx-search'></i>SEARCH</a>
				</li>
			</ul>
			<ul class="lt_gnb">
				{@ $gnb_list_count = 0;  <!--// 비카테고리글 숫자 체크 -->}
				<li loop="$GNB->list => $key1, $val1"  cond="$val1['href']">
					<a cond="$val1['href']" href="{$val1['href']}" class="depth1<!--@if($val1['class'])--> {$val1['class']}<!--@end--><!--@if($val1['selected'])--> active1<!--@end--><!--@if($val1['list'])--> more<!--@end-->" target="_blank"|cond="$val1['open_window'] == 'Y'">
						<i cond="$val1['icon']" class="{$val1['icon']}"></i>{$val1['link']|noescape}<i cond="$val1['open_window'] == 'Y'" class='bx bx-link-external'></i>
						{@ $gnb_list_count = $gnb_list_count +1; }
					</a>
					<a cond="$val1['list']" class="morelist"><i class='bx bx-plus'></i></a>
					<ul cond="$val1['list']" class="depth2">
						<li loop="$val1['list'] => $key2, $val2" class="more"|cond="$val2['list']">
							<a href="{$val2['href']}" class="active2"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window'] == 'Y'">
								<i class='bx bx-subdirectory-right'></i>{$val2['link']|noescape}<i cond="$val2['open_window'] == 'Y'" class='bx bx-link-external'></i>
								{@ $gnb_list_count = $gnb_list_count +1; }
							</a>
							<ul cond="$val2['list']" class="depth3">
								<li loop="$val2['list'] => $key3, $val3">
									<a href="{$val3['href']}" class="active3"|cond="$val3['selected']" target="_blank"|cond="$val3['open_window'] == 'Y'">
										<i class='bx bx-subdirectory-right'></i>{$val3['link']|noescape}<i cond="$val3['open_window'] == 'Y'" class='bx bx-link-external'></i>
										{@ $gnb_list_count = $gnb_list_count +1; }
									</a>
									<ul cond="$val3['list']" class="depth4">
										<li loop="$val3['list'] => $key4, $val4">
											<a href="{$val4['href']}" class="active4"|cond="$val4['selected']" target="_blank"|cond="$val4['open_window'] == 'Y'">
												<i class='bx bx-subdirectory-right'></i>{$val4['link']|noescape}<i cond="$val4['open_window'] == 'Y'" class='bx bx-link-external'></i>
												{@ $gnb_list_count = $gnb_list_count +1; }
											</a>
											<ul cond="$val4['list']" class="depth5">
												<li loop="$val4['list'] => $key5, $val5">
													<a href="{$val5['href']}" class="active5"|cond="$val5['selected']" target="_blank"|cond="$val5['open_window'] == 'Y'">
														<i class='bx bx-subdirectory-right'></i>{$val5['link']|noescape}<i cond="$val5['open_window'] == 'Y'" class='bx bx-link-external'></i>
														{@ $gnb_list_count = $gnb_list_count +1; }
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<!--@if(!Mobile::isMobileCheckByAgent())-->
				<!--@if($gnb_list_count > 15)-->
				<li class="gnbup" style="display:none;"><a>Scroll Up <i class='bx bxs-upvote' ></i></a></li>
				<!--@end-->
				<!--@end-->
			</ul>
			
			<ul class="meta">
				<!--@if($oi->site_sign_meta == 'yes')-->
				<li cond="!$is_logged" class="login_before">
					<a href="{getUrl('','act', 'dispMemberLoginForm','', '')}" rel="nofollow"><i class='bx bx-key' ></i></a>
					<a href="{getUrl('','act', 'dispMemberSignUpForm','', '')}" rel="nofollow"><i class='bx bxs-user-plus' ></i></a>
				</li>
				<li cond="$is_logged" class="login_after">
					<a href="{getUrl('','act', 'dispMemberInfo','', '')}" rel="nofollow">
						<!--@if($logged_info->profile_image->src)-->
						<img src="{$logged_info->profile_image->src}" alt="{$logged_info->nick_name}"  class="profile"/>
						<!--@else-->
						<div class="profile"><i class='bx bxs-ghost'></i></div>
						<!--@end-->
					</a>
					<a href="{getUrl('','act', 'dispMemberInfo','', '')}" rel="nofollow" class="uname">{$logged_info->nick_name}<span><em>Lv.{$level}</em> {$logged_info->user_id}</span></a>
					<!--@if($output->page_navigation->total_count>0)-->
					<a href="{getUrl('','act', 'dispCommunicationMessages','','')}" class="pager">
						<i class='bx bx-envelope' ></i>
					</a>
					<!--@end-->
				</li>
				<li cond="$is_logged" class="login_info">
					<div class="levelbarWrap vp">
						<div class="levelbar">
							<div class="perbar" style=" width:{($per / 10)}%;"></div>
						</div>
						<div class="levelinfo">
							<div class="leveltitle">Lv.<em>{$level}</em> ( Exp. {($per / 10)}% )</div>
							<ul class="levelinfoDetail">
								<li><span>총 Exp</span><span>{$point}</span></li>
								<li><span>레벨업 Exp</span><span>{$next_point}</span></li>
								<li class="gap"><span>필요 Exp</span><span>{$need_point}</span></li>
								<li><span>획득 Exp</span><span>{$need_point2}</span></li>
								<li><span>남은 Exp</span><span>{$need_point - $need_point2}</span></li>
							</ul>
						</div>
					</div>
					<div class="btnwrap">
						<a href="{getUrl('act', 'dispMemberLogout')}" rel="nofollow" class="logout"><i class='bx bx-power-off'></i>&nbsp;{$lang->cmd_logout}</a>
						<a cond="$logged_info->is_admin == 'Y'" href="{getUrl('', 'module', 'admin')}" target="_blank" rel="nofollow" title="{$lang->cmd_management}" class="set"><i class='bx bxs-cog'></i>&nbsp;{$lang->cmd_management}</a>
					</div>
				</li>
				<!--@end-->
				<li class="lt_lnb" cond="$LNB">
					<div loop="$LNB->list => $key1, $val1">
						<a cond="$val1['href']" href="{$val1['href']}" class="active1"|cond="$val1['selected']" target="_top">{$val1['link']|noescape}</a>
					</div>
				</li>

				<li class="mod-theme-mobile vm">
					<!--@if($oi->use_darkMode == 'yes')-->
						<div class="mod-theme dark">
							<a onclick="setThemeDark()" class="ovt viewDark"><i class='bx bxs-moon'></i></a>
							<a onclick="setThemeLight()" class="ovt viewLight"><i class='bx bxs-sun' ></i></a>
						</div>
					<!--@end-->
					<!--@if($oi->use_colorTheme == 'yes')-->
						<div class="mod-theme color">
							<a onclick="setTheme_color('white');"><i class='bx bxs-palette white' ></i></a> 
							<a onclick="setTheme_color('gray');"><i class='bx bxs-palette gray' ></i></a> 
							<a onclick="setTheme_color('orange');"><i class='bx bxs-palette orange' ></i></a> 
							<a onclick="setTheme_color('blue');"><i class='bx bxs-palette blue' ></i></a> 
							<a onclick="setTheme_color('green');"><i class='bx bxs-palette green' ></i></a>
							<a onclick="setTheme_color('red');"><i class='bx bxs-palette red' ></i></a>
						</div>
						<div class="mod-theme bright">
							<a onclick="setTheme_bright('d1');" class="tooltip tooltipSet" title="저대비"><i class='bx bx-signal-1 d1' ></i></a> 
							<a onclick="setTheme_bright('d2');" class="tooltip tooltipSet" title="중대비"><i class='bx bx-signal-3 d2' ></i></a> 
							<a onclick="setTheme_bright('d3');" class="tooltip tooltipSet" title="고대비"><i class='bx bx-signal-5 d3' ></i></a>
						</div>						
					<!--@end-->
				</li>
				<!--@if($oi->site_badge=='yes')-->
				<li class="layout">
					<div class="powered">
						<a href="https://www.orangeday.com/" target="_blank">by <span>OrangeDay</span></a>
					</div>
				</li>
				<!--@end-->
				
			</ul>
		</div>
	</li>
	<li id="ol_right" class="content">
		<!--@if($q && $_is_indexmodule)-->
			<div class="pagelocation"><a>구글 검색</a></div>
			<div class="gcse-searchbox-only" data-resultsUrl="/"></div>
			<div class="gcse-searchresults-only"></div>
		<!--@elseif($act && $_is_indexmodule)-->
			<include target="pagetitle.html" />
			<div class="templatepage vsearch">{$content}</div>
		<!--@else-->	
			<!--@if($module_info->mid=='layoutblog')-->
				<!--@if($oi->site_column_con)-->
					{$oi->site_column_con}
				<!--@else-->
					<include target="_page_con.html" />
				<!--@end-->	
			<!--@else-->
				<!--@if($_is_indexmodule && $module_info)-->

					<!--@if($oi->site_column_con)-->
						{$oi->site_column_con}
					<!--@else-->
						<include target="_page_con.html" />
					<!--@end-->	
					
				<!--@else-->
				
					<!--@if(strpos($act,"dispBoardAdmin") !== false || !$module_info || $module_info->module=='member')-->
					<!--@else-->
					<include target="pagetitle.html" />
					<!--@end-->
					
					<!--@if(strpos($act,"dispBoardAdmin") !== false)-->
						<div class="templatepage vboard">{$content}</div>
					<!--@elseif($module_info->module=='member')-->
						<div class="templatepage vmember">{$content}</div>
					<!--@elseif($module_info->module=='page')-->
						<div class="templatepage vpage">{$content}</div>
					<!--@else-->
						<div class="templatepage">{$content}</div>
					<!--@end-->
					
				<!--@end-->	
			<!--@end-->	
		<!--@end-->	
		
		
		<div class="hr"></div>
		
		
		<footer>
			<ul class="comsummury">
				<li class="location">
				<block loop="$GNB->list=>$key1,$val1" cond="$val1['selected']">
					<a href="{geturl('')}"><i class='bx bxs-home'></i></a> <a href="{$val1['href']}"> {$val1['text']}</a>
					<block loop="$val1['list']=>$key2,$val2" cond="$val2['selected']">
						<i class='bx bxs-chevron-right'></i><a href="{$val2['href']}"> {$val2['text']}</a>
						<block loop="$val2['list']=>$key3,$val3" cond="$val3['selected']">
							<i class='bx bxs-chevron-right'></i><a href="{$val3['href']}"> {$val3['text']}</a>
							<block loop="$val3['list']=>$key4,$val4" cond="$val4['selected']">
								<i class='bx bxs-chevron-right'></i><a href="{$val4['href']}"> {$val4['text']}</a>
							</block>
						</block>
					</block>
				</block>
				</li>
				<li class="company_name" cond="$oi->site_company_name">{$oi->site_company_name}</li>
				<li class="address" cond="$oi->site_address || $oi->site_address2">
					<span cond="$oi->site_address">{$oi->site_address}</span><br class="vm" /><span cond="$oi->site_address2">{$oi->site_address2}</span>
				</li>
				<li class="copy" cond="$oi->site_copyright"><i class='bx bx-copyright'></i>{$oi->site_copyright}&nbsp;all rights reserved.</li>
			</ul>
		</footer>
	</li>
</ul>
<!--@if($module_info->module != 'board')-->
<div class="gototop layout" style="display:none;"><a><i class='bx bx-chevron-up'></i></a></div>
<!--@end-->


<include target="/_assets/version.html" />

<style>
.viewTraffic .xe-widget-wrapper { overflow: unset;}
.tviewer .pop,
#ol_left .meta li.login_info .levelbarWrap .levelinfo { left: 5px;  width:calc({$oi->gnb_width}px - 30px);}
#odaylayout #ol_left,
#odaylayout #ol_left > div{ width:{$oi->gnb_width}px; flex-shrink: 0;}


<!--@if($oi->layout_align=='full')-->
	#odaylayout #ol_right { width:calc(100% - {$oi->gnb_width}px); padding: 0 10px;}
	.setBox { left: {$oi->gnb_width}px; }
<!--@elseif($oi->layout_align=='left')-->
	body {  background-color : var(--oday_bodyBgColor); }
	#odaylayout { width:100%;  max-width:{$oi->site_width}px;  }
	#odaylayout #ol_right { width:calc(100% - {$oi->gnb_width}px); max-width:{$layout_apply_width}px;  border-right:var(--oday_listBorder); box-shadow:var(--oday_listShadow); } 
	.slidebanner {width:100%; max-width: calc(100vw - {$oi->gnb_width}px - var(--oday_scrollWidth)) }	
	.setBox { left: {$oi->gnb_width}px; }
<!--@elseif($oi->layout_align=='center')-->
	body {  background-color : var(--oday_bodyBgColor); }
	#odaylayout { width:100%;  max-width:{$oi->site_width}px; margin:0 auto; box-shadow:var(--oday_listShadowR);}
	#odaylayout #ol_right { width:calc(100% - {$oi->gnb_width}px);max-width:{$layout_apply_width}px;  border-right:var(--oday_listBorder); box-shadow:var(--oday_listShadow); } 
	.slidebanner {width:100%; max-width: calc(100vw - {$oi->gnb_width}px - var(--oday_scrollWidth)) }		
	.setBox { left: 0px; }
	.setBox li.cog { left:0; color:var(--oday_mainColorDark)}
	:is(.color_scheme_dark),
	:root[color-theme='dark'] {
		.setBox li.cog { left:0; color:var(--oday_mainColorLight)}
	}	
<!--@else-->
	#odaylayout #ol_right { width:calc(100% - {$oi->gnb_width}px); }
	.setBox { left: {$oi->gnb_width}px; }
<!--@end-->

@media screen and (max-width:768px){
	#odaylayout #ol_left { width:100%;}
	#odaylayout #ol_left > div { width:100%; }
	#odaylayout #ol_right { width:100%; padding:0 }
	.slidebanner { max-width:100%;}
}
</style>
<script>
var $ = jQuery;
/* 바닥 스크롤 잠금 */
function scrollDisable(){
    $('body').addClass('scrollDisable').on('scroll touchmove mousewheel', function(e){
       // e.preventDefault();
    });
}
function scrollAble(){
    $('body').removeClass('scrollDisable').off('scroll touchmove mousewheel');
}
/* GNB 열고 닫기 - 모바일 */
function viewGnb() {
	scrollDisable();
	$("#ol_left").show();
}
function closeGnb() {
	scrollAble();
	$("#ol_left").hide();
}
//서브메뉴 펼치기
$(".morelist").click(function(){
	$("#ol_left .lt_gnb .depth2").slideUp();
	$(".morelist").html("<i class='bx bx-plus'></i>");
	if(!$(this).next().is(":visible")){
		$(this).next().slideDown();
		$(this).html("<i class='bx bx-minus'></i>");
	}
});
//서브 메뉴 이동시 해당 메뉴 열어 놓기
$(".lt_gnb li").has(".active1, .active2").find(".depth2").show();
$(".lt_gnb li").has(".active1, .active2").find(".morelist").html("<i class='bx bx-minus'></i>");
//스크롤시 액션
$(window).scroll(function () {
	Yposition = $(this).scrollTop();
	if (Yposition >= 100) {
		$(".gototop.layout").fadeIn();
		$("header").addClass("scrollchange");
	}else {
		$(".gototop.layout").fadeOut();
		$("header").removeClass("scrollchange");
	}
});
//상단이동
$(".gototop").click(function(){
	$('html, body').animate({scrollTop: 0}, 500);
});
//상단이동 - 메뉴
$(".gnbup a").click(function(){
	$('#odaylayout #ol_left.gnbfull > div').animate({scrollTop: 0}, 0);
});
//어드민 페이지 / 세팅 페이지에서 제목 감추기
var itemsWithOnClassaAdmin = $('.x, .xm, .xc, #access, .signin');
if (itemsWithOnClassaAdmin.length > 0) {
	$('.pagelocation').hide();
}


<!--@if($oi->use_gnb == 'yes')-->
	/* GNB 항상 열기 체크 */
	var $getGnbopen = XE.cookie.get('setOdayGnbopen');
	if( $getGnbopen == "open" ) {
		$("#ol_left .lt_gnb .depth2").show();
		$(".morelist").hide();
		$(".gnbup").addClass("active");
		$("input:checkbox[id='gnbsubopen']").prop("checked", true);
	}
	/* GNB 높이 체크 */
	var $getGnbheight = XE.cookie.get('setOdayGnbheight');
	if( $getGnbheight == "maximize" ) {
		$("#odaylayout #ol_left").addClass("gnbfull");
		$("input:checkbox[id='gnbheightmaximize']").prop("checked", true);
	}

<!--@else-->
	<!--@if($oi->use_gnb_allways_open == 'yes')-->
		$("#ol_left .lt_gnb .depth2").show();
		$(".morelist").hide();
		$(".gnbup").addClass("active");
		$("input:checkbox[id='gnbsubopen']").prop("checked", true);
	<!--@end-->
	
	<!--@if($oi->use_gnb_max_height == 'yes')-->
		$("#odaylayout #ol_left").addClass("gnbfull");
	<!--@end-->
<!--@end-->
	

$(function(){
	/* GNB 열고 닫기 */
	$("#gnbsubopen").change(function(){
		if($(this).is(":checked")){
			$("#ol_left .lt_gnb .depth2").slideDown();
			$(".morelist").hide();
			$(".gnbup").addClass("active");
			setCookie( "setOdayGnbopen", "open" , 365 );
		}else{
			$("#ol_left .lt_gnb .depth2").slideUp();
			$(".morelist").show();
			$(".gnbup").removeClass("active");
			$(".morelist").html("<i class='bx bx-plus'></i>");
			$(".lt_gnb li").has(".active1, .active2").find(".depth2").slideDown();
			$(".lt_gnb li").has(".active1, .active2").find(".morelist").html("<i class='bx bx-minus'></i>");			
			setCookie( "setOdayGnbopen", "" , 365 );
		}
	});
	/* GNB 높이 꽉채우기 */
	$("#gnbheightmaximize").change(function(){
		if($(this).is(":checked")){
			$("#odaylayout #ol_left").addClass("gnbfull");
			setCookie( "setOdayGnbheight", "maximize" , 365 );
		}else{
			$("#odaylayout #ol_left").removeClass("gnbfull");
			setCookie( "setOdayGnbheight", "" , 365 );
		}
	});
	/* 활성메뉴 열때 바로 위 뎁스 액티브 제거 */
	$itemsWithClass2 = $('.active3');
	$itemsWithClass3 = $('.active4');
	$itemsWithClass4 = $('.active5');
	if ($itemsWithClass2.length > 0) { $('a.active2').removeClass('active2'); }
	if ($itemsWithClass3.length > 0) { $('a.active3').removeClass('active3'); }
	if ($itemsWithClass4.length > 0) { $('a.active4').removeClass('active4'); }
	
	/* 설정메뉴 잠깐 보이기 - 메인에서만 */
	<!--@if($_is_indexmodule)-->
		<!--@if($act != 'IS')-->
			$(".setBoxlist").addClass('active');
			setTimeout(function() { 
				$(".setBoxlist").removeClass('active');
			}, 500);
		<!--@end-->
	<!--@end-->
	

});
/* 검색 열고 닫기 */
$(".search-open").click(function(){
	$('.searchWrap').addClass('active');
	$('.gsc-search-button-v2').html('<i class="bx bx-search"></i>');
});
$(".search-close, .searchBg").click(function(){
	$('.searchWrap').removeClass('active');
});
</script>
