@charset "utf-8";
/* Widget Counter */
.widgetCounter_classic{  font-size:1em; display:flex; justify-content: center; flex-direction: column; padding:15px;
border-radius:10px; background-color:var(--oday_listBgColor); border:var(--oday_listBorderDown); box-shadow:var(--oday_listShadowDown); 
}
.widgetCounter_classic li { display:flex; justify-content: space-between; line-height:1}
.widgetCounter_classic li + li { margin-top:5px}
.widgetCounter_classic li span { font-size:.8em;}
.widgetCounter_classic li em { font-weight:700; color:var(--oday_mainColor)}
@media screen and (max-width:768px){
	.widgetCounter_classic{  font-size:1.2em; flex-direction: unset; justify-content: space-around;}
	.widgetCounter_classic li {    align-items: flex-end;}
	.widgetCounter_classic li + li { margin-top:0}
	.widgetCounter_classic li span { margin-right:10px;}
}