@charset "utf-8";
div.con .newicon { /*color:#fff;  padding:0.1em 0.2em; border-radius:3px;*/ font-size:.9em; font-weight:900; line-height:1} 
div.con .new {color:#f00; }
div.con .update {color:#00d3ff; }



ul.newContents {display:flex; justify-content: center; align-items: center; flex-wrap: wrap;}
ul.newContents li {display:flex; align-items: center; margin: 3px; padding: 5px 20px 5px 5px; background-color:var(--oday_listBgColor);  border:var(--oday_newborder); border-radius: 50px; } 

ul.newContents li.showNew.N,ul.newContents li.showNew.N.U { border:var(--oday_newConborder); /*background-color:#212016*/ }
ul.newContents li.showNew.U { border:var(--oday_newComborder);/* background-color:#1e2225*/ }
ul.newContents .title {font-size:1.1em; font-weight:400; margin-bottom:.2em; display:inline-block; }
ul.newContents .newconbox { opacity:.6; font-weight:300; margin-top:2px}
ul.newContents .newconbox .btitle {color: var(--oday_mainColor);}

ul.newContents a.thumb { border-radius:100%; overflow:hidden; display:flex; justify-content: center; align-items: center; margin-right:.8em; opacity:.5; transition:.3s}
ul.newContents li:hover a.thumb {opacity:1}
ul.newContents .thumb { background-color: var(--oday_metaBgColor); flex-shrink: 0;}
ul.newContents .thumb-blank { flex-shrink: 0;}
ul.newContents a.thumb i {color: var(--oday_metaColor);}

.fix ul.newContents li { width:calc((100% / 4) - 6px)}
.fix ul.newContents li > div { width:100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.fix ul.newContents .title  { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.contentsOne li { background-position:center; background-size:120% auto; transition: 0.3s; }
.contentsOne a.thumb {  height:100%; display: flex; justify-content: center; align-items: flex-end; text-align:center; padding-bottom:30px; color:#fff; transition:.3s; background:linear-gradient(transparent 70%, rgba(0,0,0,.7) 100% ); z-index:1}
.contentsOne a.thumb span { display:block; /*mix-blend-mode: difference*/ line-height:1; font-weight:100 }
.contentsOne a.thumb span + span {margin-top:5px;}
.contentsOne a.thumb span.btitle {font-size:.8em; opacity:.6}
.contentsOne a.thumb span.title {font-size:1.2em; font-weight:400 }
.contentsOne a.thumb span.date {font-size:.8em;  opacity:.6}
/*.contentsOne a.thumb:hover { background:linear-gradient(transparent 70%, rgba(0,0,0,.8) 100% )}*/
.icon img[alt="file"] { display: none; }

@media screen and (max-width:768px){
	ul.newContents li { padding: 2px 20px 2px 2px;}
	ul.newContents .title {font-size:1em;}
	ul.newContents .newconbox  {font-size:.8em;}
}



.classic_top_banner li {position: relative; background-color:#000; height:250px}
.classic_top_banner li .bg_con {position:absolute; background-position:center; background-size:100% auto; transition: 0.3s; width:100%; height: 100%; filter :  blur(0px);}
.classic_top_banner li > div { height:100%; display: flex; justify-content: center; align-items: center; text-align:center; }
.classic_top_banner li > div .newconbox {z-index:1; opacity:1; display: flex; flex-direction: column; align-items: center; max-width: 50%;}
.classic_top_banner li > div span + span { margin-top:5px;}
.classic_top_banner li > div span { display:block; color:#fff; /* text-shadow: 0 0 10px rgba(0,0,0,.8); */ }
.classic_top_banner li > div span.btitle {font-size:.8em;}
.classic_top_banner li > div span.title {font-size:2em; font-weight:700 }
.classic_top_banner li > div span.text {font-size:1em;margin:1em 0 0 0 }
.classic_top_banner li > div span.date {font-size:.8em;  }
.classic_top_banner li > div a { color:#fff; margin-top:20px; display:flex; align-items: center; font-size:1.1em; height:2.5em; padding:0 2em; border:1px solid #fff; border-radius:30px; width: fit-content; }
.classic_top_banner:hover .bg_con {opacity:.5; filter : blur(1px); background-size:102% auto;}
.classic_top_banner:hover .newconbox {opacity:1}
@media screen and (max-width:768px){
	.classic_top_banner li .bg_con { opacity:.5; filter : blur(1px);}
}


.classic_content:after { content:""; clear:both; display:block;  }
.classic_content li { display:flex; }
.classic_content li div.thum .thumb {width:130px; height:100px;  border-radius:30px; background-color:var(--oday_listBgColor); border:var(--oday_listBorder); box-shadow:var(--oday_listShadow); display: flex; justify-content: center; align-items: center; font-size:2em; color:var(--oday_metaColor);}
.classic_content li div.con { display:flex; flex-direction: column; margin-left:20px; padding-top:5px;}
.classic_content li div.con > * + * { margin-top:10px;}
.classic_content li div.con .title {  display: flex; align-items: flex-start;  }
.classic_content li div.con .title > * + * { margin-left:5px;}
.classic_content li div.con .title a { font-size:1.4em; font-weight:500; line-height:1.4;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.classic_content li div.con p { opacity:.6; line-height:1.4;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.classic_content li div.con .opt_brow { display: flex; align-items: center;}
.classic_content li div.con .opt_brow a { font-size:1em; color:var(--oday_mainColor); font-weight:500}
.classic_content li div.con .opt_meta { font-size:.9em; }
.classic_content li div.con .opt_meta a {font-weight:500}
.classic_content li div.con .opt_meta .date { opacity:.6;}
.classic_content li div.con .opt_meta .replyNum a { color: var(--oday_mainColor); }
.classic_content li div.con .opt_meta .replyNum i { font-size:1.4em; vertical-align: sub;}
.classic_content > li { width:calc((100% / 3) - 20px);  margin-right:20px; }
.classic_content > li:nth-child(n+5) { margin-top:30px; padding-top:30px; border-top:var(--oday_listBorder); border-style:dashed }
@media screen and (max-width:1600px){
	.classic_content li { width:calc((100% / 2) - 20px); }
	.classic_content > li:nth-child(n+4) { margin-top:30px; padding-top:30px; border-top:var(--oday_listBorder); border-style:dashed }
}
@media screen and (max-width:1200px){
	.classic_content li { width:100%; margin-right:0;  }
	.classic_content > li:nth-child(n+3) { margin-top:30px; padding-top:30px; border-top:var(--oday_listBorder); border-style:dashed }
}
@media screen and (max-width:768px){
	.classic_content li {align-items: center; }
	.classic_content > li:nth-child(n+3) { margin-top:20px; padding-top:20px; border-top:var(--oday_listBorder); border-style:dashed }
	.classic_content li div.con { margin-left:20px; padding-top:0;}
	.classic_content li div.con > * + * { margin-top:5px;}
	.classic_content li div.thum .thumb {width:120px; height:93px;  border-radius:20px; }
	.classic_content li div.con p { 
		-webkit-line-clamp: 1;
	}	
}

.classic_comment li { display:flex; }
.classic_comment li + li { margin-top:10px; padding-top:10px; border-top:var(--oday_listBorder); border-style:dashed  }
.classic_comment li div.thum .thumb { width:50px; height:50px;  display: flex; justify-content: center; align-items: center; border-radius:15px; background-color:var(--oday_listBgColor); border:var(--oday_listBorder);  font-size:1em; color:var(--oday_metaColor);}
.classic_comment li div.con { display:flex; flex-direction: column; margin-left:10px; }
.classic_comment li div.con > * + * { margin-top:5px; }
.classic_comment li div.con .title {margin-bottom:4px;}
.classic_comment li div.con .title a { word-break: break-all; }
.classic_comment li div.con div:not(.title) { font-size:.8em; opacity:.5;}