<div id="SNB" class="depth0 widget_wrap" loop="$GNB->list=>$key1,$val1" cond="$val1['selected']" >
	<a href="{$val1['href']}" class="{$val1['class']}"|cond="!empty($val1['class'])" target="_blank"|cond="$val1['open_window']=='Y'">
		<i cond="$val1['icon']" class="{$val1['icon']}"></i> 
		<span>{$val1['link']|noescape}</span>
	</a>
	<ul loop="$GNB->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']" class="depth2">
		<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
			<a href="{$val2['href']}" class="active"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window'] == 'Y'">
				<span>{$val2['link']}</span>
				<i cond="$val2['open_window'] == 'Y'" class='bx bx-link-external'></i>
			</a>
			<ul cond="$val2['list']" class="depth3">
				<li loop="$val2['list'] => $key3, $val3">
					<a href="{$val3['href']}" class="active"|cond="$val3['selected']" target="_blank"|cond="$val3['open_window'] == 'Y'">
						<i class="bx bx-subdirectory-right"></i><span>{$val3['link']|noescape}</span>
						<i cond="$val3['open_window'] == 'Y'" class='bx bx-link-external'></i>
					</a>
					<ul cond="$val3['list']" class="depth4">
						<li loop="$val3['list'] => $key4, $val4">
							<a href="{$val4['href']}" class="active"|cond="$val4['selected']" target="_blank"|cond="$val4['open_window'] == 'Y'">
								<i class="bx bx-subdirectory-right"></i><span>{$val4['link']|noescape}</span>
								<i cond="$val4['open_window'] == 'Y'" class='bx bx-link-external'></i>
							</a>
							<ul cond="$val4['list']" class="depth5">
								<li loop="$val4['list'] => $key5, $val5">
									<a href="{$val5['href']}" class="active"|cond="$val5['selected']" target="_blank"|cond="$val5['open_window'] == 'Y'">
										<i class="bx bx-subdirectory-right"></i><span>{$val5['link']|noescape}</span>
										<i cond="$val5['open_window'] == 'Y'" class='bx bx-link-external'></i>
									</a>
								</li>
							</ul>												
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div id="SNB" class="depth0 widget_wrap" loop="$LNB->list=>$key1,$val1" cond="$val1['selected']">
	<a href="{$val1['href']}" class="{$val1['class']}"|cond="!empty($val1['class'])" target="_blank"|cond="$val1['open_window']=='Y'">
		<i cond="$val1['icon']" class="{$val1['icon']}"></i> 
		<span>{$val1['link']|noescape}</span>
	</a>
	<ul loop="$LNB->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']" class="depth2">
		<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
			<a href="{$val2['href']}" class="active"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window'] == 'Y'">
				<span>{$val2['link']}</span>
				<i cond="$val2['open_window'] == 'Y'" class='bx bx-link-external'></i>
			</a>
			<ul cond="$val2['list']" class="depth3">
				<li loop="$val2['list'] => $key3, $val3">
					<a href="{$val3['href']}" class="active"|cond="$val3['selected']" target="_blank"|cond="$val3['open_window'] == 'Y'">
						<i class="bx bx-subdirectory-right"></i><span>{$val3['link']|noescape}</span>
						<i cond="$val3['open_window'] == 'Y'" class='bx bx-link-external'></i>
					</a>
					<ul cond="$val3['list']" class="depth4">
						<li loop="$val3['list'] => $key4, $val4">
							<a href="{$val4['href']}" class="active"|cond="$val4['selected']" target="_blank"|cond="$val4['open_window'] == 'Y'">
								<i class="bx bx-subdirectory-right"></i><span>{$val4['link']|noescape}</span>
								<i cond="$val4['open_window'] == 'Y'" class='bx bx-link-external'></i>
							</a>
							<ul cond="$val4['list']" class="depth5">
								<li loop="$val4['list'] => $key5, $val5">
									<a href="{$val5['href']}" class="active"|cond="$val5['selected']" target="_blank"|cond="$val5['open_window'] == 'Y'">
										<i class="bx bx-subdirectory-right"></i><span>{$val5['link']|noescape}</span>
										<i cond="$val5['open_window'] == 'Y'" class='bx bx-link-external'></i>
									</a>
								</li>
							</ul>												
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>